[2015-12-01 10:08] tanay1337 opened #3 "Runtime Performance Issues"
Melissa currently has a very poor runtime which can be verified by running `time python main.py`. The `real` values in the output are impossibly high for me, while the `user` and `sys` values are quite reasonable.

[2015-12-01 10:09] tanay1337 commented on #3
@shivamMg Can you help with this?

[2015-12-01 11:07] shivamMg commented on #3
Solved!

[2015-12-01 11:37] tanay1337 commented on #3
Thanks @shivamMg (https://github.com/tanay1337/Melissa/pull/4)

[2015-12-01 11:37] #3 closed

[2015-12-01 13:13] tanay1337 opened #5 "Integration of NLTK"
We need to integrate NLTK (Natural Language Toolkit) for better understanding of the user's speech.

[2015-12-01 13:15] tanay1337 opened #6 "Integration of CMU Sphinx"
Integration of CMU Sphinx, so that the users that have option to select either Google STT or Sphinx STT. Integrating CMU Sphinx will give us the advantage that Melissa will be able to run offline.

[2015-12-01 19:19] tanay1337 commented on #6
Assigned to @tanay1337 and @shivammg.

[2015-12-02 06:07] tanay1337 commented on #6
@shivamMg I am having troubles compiling MITLM for Pocketsphinx. I have succeeded in installing Sphinxbase and Pocketsphinx. Any suggestions? Do you think Julius might be a better alternative?

[2015-12-02 07:14] asdofindia opened #7 "Requirement pywapi externally hosted and unverified"
On doing `pip install -r requirements` with python3 on archlinux,

[code]

`pip install -r requirements.txt --allow-external pywapi`

[code]

`pip install -r requirements.txt --allow-external pywapi --allow-unverified pywapi`

[code]

works.

This might be a problem if everyone faces it and is not warned about.
[code]

[2015-12-02 07:16] tanay1337 commented on #7
Thanks for reporting@asdofindia. @shivamMg Can you help with a fix for this?

[2015-12-02 07:18] asdofindia opened #8 "Non-fatal build failure on requirement PyAudio"
After `pip install - r requirements.txt`

[code]

I hadn't installed PyAudio before doing this step. Could this be because of that? If yes, it might be a good idea to mention PyAudio before the instruction to do pip install

[2015-12-02 07:21] asdofindia opened #9 "ALSA, jack connection errors - Melissa does not listen"
[code]

It doesn't listen anything, I think, at this point.

[2015-12-02 08:36] tanay1337 commented on #7
Updated instructions at README with this commit: https://github.com/tanay1337/Melissa/commit/07690c1e9c2e79432d34a81ae7e30fa23433a080.

[2015-12-02 08:36] #7 closed

[2015-12-02 08:53] asdofindia commented on #8
I removed the virtual environment and did pip install again, but the error persists. So it probably doesn't have anything to do with pyaudio installation order.

[2016-01-07 06:26] tanay1337 opened #10 "Test Melissa in Windows to add Windows compatibility"
Melissa needs to be tested in Windows environment so that we can make Melissa Windows compatible. Set-up, code changes, testing and documentation changes would be required.

[2016-01-17 03:56] tanay1337 opened #11 "Python GUI for Melissa"
I believe that it is time to build a python GUI for Melissa. Any discussions on which GUI Framework we should select?

[2016-01-17 14:39] tanay1337 commented on #9
Thanks for reporting this @asdofindia !

Can you please check to see if the following articles help you:

https://www.reddit.com/r/archlinux/comments/2fepl5/need_help_with_this_alsa_error_attempt_to_connect/
http://bandshed.net/forum/index.php?topic=3446.0

[2016-01-17 14:43] tanay1337 commented on #8
I believe that https://github.com/Melissa-AI/Melissa-Core/issues/9 might be related to this. PyAudio provides Python bindings for PortAudio, so can you please recheck by first installing PortAudio?

Thanks!

[2016-01-23 00:25] asdofindia opened #12 "pywapi cannot be installed anymore"
[code]

[2016-02-16 18:04] srukle commented on #11
Do you have any ideas on a UX design?

[2016-02-17 03:05] tanay1337 commented on #11
Hey @srukle! The high level view is to implement a simplistic UI which shows the commands that have been given to Melissa and her responses (perhaps we can do that in a combination of black and blue?), displays the notes that the user have stored in a section, a graphical representation of the weather, music list display and maybe more stuff later on :D

[2016-05-01 07:49] tanay1337 commented on #6
I have started to work on this part-time. The best guide to install Pocket Sphinx can be found here: https://wolfpaulus.com/journal/embedded/raspberrypi2-sr/

[2016-05-01 10:15] tanay1337 commented on #6
Resolved here: https://github.com/Melissa-AI/Melissa-Core/commit/4f8b5d52c2972f2510c65225820c38087a42832e

[2016-05-01 10:15] #6 closed

[2016-05-01 11:05] tanay1337 commented on #10
Resolved here: https://github.com/Melissa-AI/Melissa-Core/commit/9629ff57bb97949bc3f20a8420724f98db7b733d

[2016-05-01 11:05] #10 closed

[2016-05-01 11:07] tanay1337 commented on #9
Can't replicate on testing with OS X and Linux Mint. If the problem persists or can be replicated, feel free to re-open this issue.

[2016-05-01 11:07] #9 closed

[2016-05-01 11:07] tanay1337 commented on #8
Can't replicate on testing with OS X and Linux Mint. If the problem persists or can be replicated, feel free to re-open this issue.

[2016-05-01 11:07] #8 closed

[2016-05-01 11:08] tanay1337 commented on #12
Can't replicate on testing with OS X and Linux Mint. If the problem persists or can be replicated, feel free to re-open this issue.

[2016-05-01 11:08] #12 closed

[2016-05-02 13:20] tanay1337 opened #13 "Easier Installation Process"
We need to improve the installation process of Melissa, so that non-developers and beginners can also easily run Melissa on their machines.

[2016-05-16 23:31] neilnelson opened #14 "Obtained error at pywapi when installing on Ubuntu 14.04LTS"
From command-line output
Downloading/unpacking pywapi==0.3.8 (from -r requirements.txt (line 7))
  Could not find any downloads that satisfy the requirement pywapi==0.3.8 (from -r requirements.txt (line 7))
Cleaning up...
No distributions at all found for pywapi==0.3.8 (from -r requirements.txt (line 7))
Storing debug log for failure in /home/nnelson/.pip/pip.log

From .pip/pip.log
Traceback (most

[2016-05-17 03:20] tanay1337 commented on #14
Thanks for reporting the error @neilnelson! Can you please confirm if the installation method provided here (https://code.google.com/archive/p/python-weather-api/) works on your distribution?

[2016-05-17 17:31] neilnelson commented on #14
I completed the Melissa installation using the pywapi install from the provided link.

[2016-05-17 17:31] #14 closed

[2016-05-18 23:50] neilnelson opened #15 "Various suggestions"
In main.py

It looks like fetchThreshold is not being used.

From line 22 'profile =' to line 44 'client_secret =' looks like initialization that would go into a class and then when 'brain' is called at lines 154 and 198 the class would be the only parameter. These initialization lines could expand to a much larger number with new feature additions.

'main' has a recursive loop with itself and 'pa

[2016-05-19 03:49] tanay1337 commented on #15
Thanks for the awesome suggestions @neilnelson! Would be waiting for your Pull Requests :D

[2016-05-24 03:29] tanay1337 commented on #5
Plans to use `indico.io` instead.

[2016-05-24 03:29] #5 closed

[2016-05-24 04:18] tanay1337 commented on #15
Solved by https://github.com/Melissa-AI/Melissa-Core/pull/18.

[2016-05-24 04:18] #15 closed

[2016-05-24 04:38] tanay1337 commented on #14
Updated `README.md` here: https://github.com/Melissa-AI/Melissa-Core/commit/6c3efde8357231865681ff40f605ba3d71702a0d.

[2016-05-24 18:08] neilnelson opened #19 "Review of AI projects - Wit"
### Review of AI projects - Wit

The idea here is to get a handle on the capabilities of similar AI projects for inclusion into Melissa. At this point we are not saying that these capability ideas will or will not work for Melissa and only that this is the landscape we can see.

I found Melissa in the comments area of [Five Simple Ways to Build Artificial Intelligence in 2016](https://www.sitepoin

[2016-05-25 02:20] neilnelson opened #20 "Review of AI projects - Api.ai"
### Review of AI projects - Api.ai

#### [Api.ai](https://api.ai/)

* [Home page](https://api.ai/) This looks like a well-designed site. The rotating pictures and text in the middle of the page show how English sentences are translated into JSON entities. The bottom of the page has nine topic areas for review.

* [Complete Solution](https://docs.api.ai/docs/welcome) A nice high-level page. The thr

[2016-05-25 05:34] tanay1337 opened #21 "ConceptNet 5 And Integration With Melissa"
Integration of [ConceptNet 5](http://conceptnet5.media.mit.edu/) using its web API to make Melissa smarter.

This will require:
1. Study of ConceptNet 5 and its implementation in Python.
2. Integration of the generated module with Melissa.

[2016-05-25 05:36] tanay1337 commented on #13
In order to invite more developers as well as non-technical users to try out Melissa, we should create an easier installation process. Thoughts? @neilnelson

[2016-05-25 16:33] neilnelson commented on #13
The key issue I had when installing Melissa is that it errored at pywapi for which you provided a link. I downloaded pywapi from that link, did a manual install and then reran the Melissa install procedure that completed the install. I have not looked at the install procedure but automating the download of that particular link and its install appears to be the key factor for the current installati

[2016-05-25 19:34] neilnelson commented on #21
[Here is the API for ConceptNet 5](https://github.com/commonsense/conceptnet5/wiki/API).

Melissa's business_news_reader.py provides code to obtain a return from an http request. [This page](http://stackoverflow.com/questions/12965203/how-to-get-json-from-webpage-into-python-script) shows how to get a return from an http request and to translate the JSON return to a Python multilevel dictionary.

[2016-05-25 20:41] neilnelson commented on #21
_Superfluous_ is not quite the right word. We can view the words and phrases entered in to Api.ai to connect a user's expression to an action as the action's description. The actions, in general are well-determined but the expressions are not and that some expressions intended for one action will be instead sent to a different action because of an inability of the Api.ai method to correctly classi

[2016-05-26 00:24] neilnelson commented on #21
[This NLTK page](http://www.nltk.org/book/ch06.html) has a section _2.2 Identifying Dialogue Act Types_ that takes sentences and classifies them into one of 15 dialogue act types. We could substitute Melissa actions for dialogue act types to have a training method that takes sentences to actions. But this also illustrates an issue with machine learning where it is best to have a large volume of co

[2016-05-26 01:31] neilnelson commented on #21
I just realized that since Api.ai is processing the millions of user expressions through their server that they have enough data to do machine learning and where they have some way to identify if an action given for a user expression was according to the user's intent. If the provided action does not receive a user response saying it was the wrong action it could be assumed to be the right action.

[2016-05-26 01:58] neilnelson opened #22 "Review of AI projects - Jasper"
### Review of AI projects - Jasper

#### [Jasper](https://github.com/jasperproject)

After looking through a few of Jasper's python modules and noticing the MIT license I suggest we get all we can from Jasper. We would understand their code and mix it with ours, taking all that they have that we do not. This also gets us to a question of whether or not we will be ahead by merging with the Jasper p

[2016-05-26 04:14] tanay1337 commented on #13
I was thinking about a Shell Script that can automate the git cloning, installation of requirements.txt, weather API, building and compilation of PortAudio and PyAudio as well as installation of the requisite music players and TTS engines. This would serve as an interim solution for Linux/OS X users for now.

[2016-05-26 04:30] tanay1337 commented on #22
We can definitely learn and adapt from Jasper's source code, considering the fact that the project is MIT licensed. Speaking abstractly, our goal is not to compete with Jasper/other VAs or merge with any other project, this is and will remain an independent project :D Afterall, our goal is to improve Melissa. Speaking of improvements, which modules of Jasper do you have in mind for implementing in

[2016-05-26 08:23] aniketk21 opened #23 "Error messages while main.py is executing."
After I type `sudo python main.py` into the terminal, I get the following error messages.
`aniketk@aniket-ThinkPad:~/Melissa-Core$ sudo python main.py`
`ALSA lib pcm_dsnoop.c:618:(snd_pcm_dsnoop_open) unable to open slave`
`ALSA lib pcm_dmix.c:1022:(snd_pcm_dmix_open) unable to open slave`
`ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear`
`ALSA lib pcm.c:2239:(snd_pcm_open_n

[2016-05-26 08:34] aniketk21 opened #24 "No module named PocketSphinx==0.8 on Ubuntu 14.04.3"
While executing `sudo pip install -r requirements.txt`, pip says that there is no module named `PocketSphinx==0.8`.  After changing it to `PocketSphinx==0.0.9` [(PocketSphinx on PyPI)](https://pypi.python.org/pypi/pocketsphinx/0.0.9) and removing `SphinxBase==0.8` (_as SphinxBase is installed while installing PocketSphinx_), all requirements are successfully installed.
Is this problem occurring on

[2016-05-26 09:01] tanay1337 commented on #24
Hi Aniket,

I am developing Melissa on OS X and hence, didn't face this issue. It's fine to remove SphinxBase as it is installed while installing PocketSphinx. Let's consult @neilnelson as he is working on Ubuntu to know if he has faced this issue as well?

Thanks!

[2016-05-26 09:05] tanay1337 commented on #23
This seems like a platform dependent issue, can you try the solution that has been provided here?

http://askubuntu.com/questions/608480/alsa-problems-with-python2-7-unable-to-open-slave and http://blog.yjl.im/2012/11/pyaudio-portaudio-and-alsa-messages.html

As pointed out in the second hyperlink, these messages should not affect the working of Melissa. However, if they do please feel free to reo

[2016-05-26 09:05] #23 closed

[2016-05-27 02:01] tanay1337 commented on #13
@neilnelson Can you confirm if [this](https://gist.github.com/tanay1337/5761f839470b8c08f5514be135d6c9af) works for you in Ubuntu on a fresh installation?

[2016-05-27 03:13] tanay1337 commented on #24
@aniketk21 Apparently I have also started to get this error, this one's on a priority to be fixed.

[2016-05-27 10:25] #24 closed

[2016-05-27 10:32] tanay1337 commented on #13
Solved by https://github.com/Melissa-AI/Melissa-Core/commit/a333cae4eadc7c43cebf6f9ddb62fa35ce8e8c5c.

[2016-05-27 13:00] aniketk21 opened #27 "Bug in 'business news' feature"
@tanay1337 Pressing **CTRL+C** does not stop the execution of `main.py` while Melissa is reading out the business news.
![screenshot from 2016-05-27 18 24 13](https://cloud.githubusercontent.com/assets/14832853/15608672/0ba8179a-2439-11e6-80b2-f14811ef04eb.png)

[2016-05-28 04:29] tanay1337 commented on #27
Solved by https://github.com/Melissa-AI/Melissa-Core/commit/80648c163f92d2b5d3107044952e953eeba97275.

[2016-05-28 04:29] #27 closed

[2016-05-28 06:22] aniketk21 opened #28 "No audio on Ubuntu 14.04.3."
@neilnelson There is no audio output after #27 was solved by @tanay1337.

[2016-05-28 06:45] tanay1337 commented on #28
Fixed in this squashed commit: https://github.com/Melissa-AI/Melissa-Core/commit/2a9bee6347a2eecd54d7d953bf703f222ab3f95f.

[2016-05-28 06:45] #28 closed

[2016-05-28 15:53] aniketk21 opened #29 "Change Melissa's voice to female for Linux and Windows platforms"
@tanay1337 Currently, espeak has the voice of a male by default. It would be better to have a female voice for Melissa on Linux and Windows platforms.

[2016-05-29 09:16] #29 closed

[2016-05-29 13:33] tanay1337 commented on #13
Dumped previous approach and used it in Travis-CI integration, looking for a better solution.

[2016-05-31 12:06] tanay1337 opened #33 "Rewrite STT as a module along with TTS"
This will make the code modular further.

[2016-05-31 12:39] tanay1337 commented on #33
I have successfully implemented this. However, the problem that we will be facing is the passing of `profile_data` to `stt()` if called from other locations. We can write a module to take care of that, that would be relative to the path of 'profile.yaml`. Thoughts?

[2016-05-31 13:03] #33 closed

[2016-05-31 22:08] neilnelson commented on #22
<h3>Adapting Jasper to Melissa</h3>

There is a lot of material here but the idea is to be comprehensive enough to provide a credible adaptation route. Roughly, the order of effort may be:

---------

[Jasper's web pages](http://jasperproject.github.io/documentation/)

https://help.github.com/articles/creating-project-pages-manually/<br>
http://jmcglone.com/guides/github-pages/

[Configuration](ht

[2016-06-01 03:53] tanay1337 commented on #22
Thanks for the detailed analysis @neilnelson! These are some really great suggestions. One thing that I wish to avoid at this point, is the use of `Wit.ai` for `brain.py` as I am working on some homebrew alternatives. Let us split these suggestions to independent issues and well, get on to it :D

[2016-06-01 03:56] tanay1337 opened #35 "Write a profile population script for Melissa"
As suggested by @neilnelson here: https://github.com/Melissa-AI/Melissa-Core/issues/22. We however will need to fix the current test for this when merging this feature.

[2016-06-01 03:59] tanay1337 opened #36 "Create GitHub Wiki for Melissa"
Create GH Wiki for Melissa to display about information, installation details, configuration details and information for developers as the `README.md` is getting cluttered.

[2016-06-01 04:15] tanay1337 commented on #22
Discussion and support forum has been created here: https://groups.google.com/forum/#!forum/melissa-support--discussion-forum/

[2016-06-01 04:20] tanay1337 opened #37 "Add Threading to Melissa"
As suggested by @neilnelson here: https://github.com/Melissa-AI/Melissa-Core/issues/22.

- Instead of waiting for an action to complete before another user expression was provided, a thread could be launched for each user expression and the return provided in a notification stack, not necessarily the notification procedure given above. The user could either wait for the task completion response fr

[2016-06-01 04:22] tanay1337 commented on #22
I have added most of the high level suggestions as issues, let me know if something is missing or if we can close this issue.

[2016-06-01 05:54] tanay1337 commented on #35
And let's use JSON instead of YAML now, to remove unnecessary PIP dependencies.

[2016-06-01 06:11] tanay1337 commented on #36
Instead of GH-Pages, how about a GH wiki? Thoughts @neilnelson?

[2016-06-01 11:06] #22 closed

[2016-06-01 11:08] tanay1337 commented on #19
I am working on a homebrew solution for improving the `check_message()` function. Let's see how that goes.

[2016-06-01 11:08] #19 closed

[2016-06-01 11:11] tanay1337 commented on #36
Wiki has been created at: https://github.com/Melissa-AI/Melissa-Core/wiki. The documentation needs to be made more comprehensive as the project proceeds.

[2016-06-01 11:11] #36 closed

[2016-06-01 11:12] tanay1337 commented on #20
Closed on similar grounds of https://github.com/Melissa-AI/Melissa-Core/issues/19.

[2016-06-01 11:12] #20 closed

[2016-06-01 12:37] tanay1337 commented on #35
Solved here: https://github.com/Melissa-AI/Melissa-Core/commit/35494f58188c9d066065c23141027bf7726391a9.

[2016-06-01 12:37] #35 closed

[2016-06-01 15:37] neilnelson commented on #36
The wiki is a very good idea in allowing others to easily maintain the web pages. Getting the home page to load as done for the GitHub pages may be something. An Idea might be to have a dummy GitHub page that [redirects](https://help.github.com/articles/redirects-on-github-pages/) to the wiki.

[2016-06-01 15:50] neilnelson commented on #35
Tanay, Thanks for profile_populator.py.

[2016-06-01 16:19] tanay1337 commented on #35
You're welcome! :)

[2016-06-01 16:37] tanay1337 opened #39 "PocketSphinx is broken"
Okay, somewhere along the line, we have broken the PocketSphinx integration. Now setting `stt` to `sphinx` in `profile.json` gives me the following traceback:

[code]

Can't seem to figure out what's wrong, help needed @neilnelson!

[2016-06-01 18:31] neilnelson commented on #39
I did search on Google for TypeError:  type 'char const *' and [this page](http://stackoverflow.com/questions/20905702/typeerror-argument-of-type-char-const) may help.

Looks like the _val_ argument for sphinxbase.py requires 'char const *'. You can check the type of what is sent

``temp = os.path.join(modeldir, hmm)``
``print type(temp)``

Then we could somehow convert to the required type.

I sh

[2016-06-01 18:55] neilnelson commented on #22
Tanay,

I have continued this discussion on the [forum](https://groups.google.com/forum/#!topic/melissa-support--discussion-forum/cmd_n-0jEzw). I was going to do the Jasper-Melissa merge but it looks like you have something else in mind you are working on. Obviously, you would have a variety of changes to my merge result and we could refine that a fair amount.

[2016-06-02 02:04] tanay1337 commented on #39
Thanks would be waiting for your response @neilnelson :)

[2016-06-02 02:38] tanay1337 opened #40 "Dynamically loading modules in brain.py"
We should set up a mechanism to dynamically load the modules from `GreyMatter` to `brain.py` which will allow contributors to add third-party modules by just putting them in the `GreyMatter` folder.

In each of the modules, we can set a `KEYWORDS` constant to specify the keywords for our `check_messsage()` mechanism.

[2016-06-02 02:39] tanay1337 commented on #40
Would you like to take this @neilnelson?

[2016-06-02 03:41] tanay1337 commented on #40
This would make use of `pkgutil` and while implementing this, we would redesign the structure of `GreyMatter` to:

[code]

[2016-06-02 03:42] tanay1337 commented on #40
Do you wish to take this @neilnelson?

[2016-06-02 14:00] neilnelson commented on #40
Tanay, Yes, I realize that how we structure the directories is quite important. I have been thinking about it and do not have a clear recommendation at the moment though I expect to have a much better idea after some study.

I will go ahead and do the the Jasper-Melissa merge. Your recent _PocketSphinx is broken #39_ is something I will be looking at first and your creation of stt.py makes good se

[2016-06-02 22:37] neilnelson commented on #39
The type of the value from

``os.path.join(modeldir, hmm)``

was unicode. The following line

``config.set_string('-hmm', os.path.join(modeldir, hmm))``

is expecting

``char const *``.

which accepts Python type _string_. The following is an example of the lines that were added to dictionary value to obtain the _string_ type.
<pre>
            modeldir = profile_data['pocketsphinx']['modeldir']

[2016-06-03 14:38] neilnelson commented on #39
More thoughts on speech-recognizers. HTK has a way to adapt their model to a user's voice and vocabulary. Kaldi does not have adaptation like HTK but has good general recognition at about 85%. HTK and Sphinx are no longer being developed. Kaldi is a on-going project. Kaldi and HTK are large packages that would require some set-up and provision of downloads by us.

Given that we would like to have

[2016-06-03 19:06] neilnelson commented on #39
In case my last commit comment is not seen on the pull request.

**Changed PocketSphinx recognition sequence**

While working on the Jasper-Melissa merge I noticed how Jasper was using PocketSphinx and tried it out for Melissa. The code is simpler and seems to have better accuracy. My sense is that when the vocabulary is restricted to the command words that it may do quite well.

Moved the decoder

[2016-06-04 03:04] tanay1337 commented on #39
Hi @neilnelson! Thank you so much for the fix. The installation now works like a charm for me, I actually test it using a vocabulary file which I have created and which consists statements that have been taken from `USAGE.md` built with the help of instructions from [this](https://wolfpaulus.com/journal/embedded/raspberrypi2-sr/) article.

And yes, currently we do not provide the language and dict

[2016-06-04 12:56] neilnelson commented on #39
@tanay1337, I am glad you are happy with the correction. I added your remarks on how to complete the PocketSphinx installation to the [FAQ](https://github.com/Melissa-AI/Melissa-Core/wiki) page.

I appreciate your remark on the Jasper-Melissa merge in that the kind of radical change I am thinking about is certainly outside the usual project flow of which you are appropriately concerned. I should r

[2016-06-05 05:15] tanay1337 commented on #39
Sure, @neilnelson! Resolved by https://github.com/Melissa-AI/Melissa-Core/pull/42.

[2016-06-05 05:59] jamesalexanderdickerson opened #43 "RuntimeError upon running main.py"
After answering the configuration questions, after running main.py, the speech synthesis begins and then I get the following error:

  File "main.py", line 20, in <module>
    main()
  File "main.py", line 15, in main
    main()
  File "main.py", line 18, in main
    stt(profile_data)
  File "/Users/xxxxxxxx/Melissa-Core/GreyMatter/SenseCells/stt.py", line 43, in stt
    decoder = Decoder(config)

[2016-06-05 06:03] tanay1337 commented on #39
Reopened on grounds of https://github.com/Melissa-AI/Melissa-Core/issues/43.

[2016-06-05 06:04] tanay1337 commented on #43
Ah, damn! Reopened the bug here: https://github.com/Melissa-AI/Melissa-Core/issues/39. Ping @neilnelson.

Thanks for reporting this @jamesalexanderdickerson :) Can you please confirm if the installation works for you with `stt: google`?

[2016-06-05 06:10] jamesalexanderdickerson commented on #43
Yes. The installation seems to work okay with google.

[2016-06-05 06:21] tanay1337 commented on #43
Thanks @jamesalexanderdickerson! We are on it! :D

[2016-06-05 06:34] tanay1337 commented on #43
@jamesalexanderdickerson Thanks for the information @jamesalexanderdickerson. I will add that in the Installation docs (which need heavy work btw :P). Does that solve your Sphinx troubles as well? I just tested Melissa and it works fine with Sphinx for me.

[2016-06-05 06:37] jamesalexanderdickerson commented on #43
No problem. Installing flac helped with the google speech to text, but not with sphinx. I still get the same error with sphinx. But it works great with google!

[2016-06-05 09:16] tanay1337 opened #44 "Customizable VA Name and Gender"
I think it would be a good idea to allow an option in the `profile.json` to customize the name and gender (the voice) of the VA.

[2016-06-05 10:24] tanay1337 commented on #44
What do you think of this guys? @neilnelson @aniketk21

[2016-06-05 10:24] tanay1337 commented on #44
Fixed here: https://github.com/Melissa-AI/Melissa-Core/commit/c625c23e383fcd01fd5385821dabb9c80f0f7495.

[2016-06-05 10:24] #44 closed

[2016-06-05 16:55] neilnelson commented on #43
@jamesalexanderdickerson, [This page](http://l34rn-p14y.blogspot.com/2014/11/python-speech-recognition-for-mac-os-x.html) has code for speech-recognition on Mac OS X, and although I have not studied it carefully, apparently the FLAC audio format is essential. The current PocketSphinx code is using WAV audio format and so if Mac OS X speech-recognition is expecting FLAC, it will not understand the

[2016-06-05 17:45] tanay1337 commented on #43
@neilnelson, I have added the information on installing FLAC in the wiki. I develop on OS X, yet was able to successfully run Sphinx. I wonder what is going wrong here! I will try to get this one fixed.

[2016-06-05 17:47] tanay1337 commented on #39
We'll just close this, since this is an unrelated issue.

[2016-06-05 17:47] #39 closed

[2016-06-05 17:48] tanay1337 commented on #40
Ping on this issue @neilnelson!

[2016-06-05 18:09] neilnelson commented on #43
@tanay1337, Given that you are using the code I last provided, FLAC would not be essential in that these two lines

``f.write(audio.get_wav_data())``
``stream = open('recording.wav', 'rb')''

tend toward a WAV format. _soxi_ from sox could confirm the format of ``recording.wav``. If a file has a ``wav`` extension but is actually in FLAC format, soxi will say it is FLAC. The idea being that you can

[2016-06-06 12:19] tanay1337 commented on #43
Hmm, will take this up @neilnelson.

[2016-06-06 17:34] tanay1337 commented on #40
Ping on this issue @neilnelson!

[2016-06-06 18:26] neilnelson commented on #40
@tanay1337, I am spending most of my time in this area and have begun sketching the code. Hopefully it will not be too far away from what you may appreciate.

As a bit of teaser, I realized that Jasper is not directly using the WORDS lists to identify which action is used for a user expression. Jasper's Weather.py illustrates this where we have

``WORDS = ["WEATHER", "TODAY", "TOMORROW"]``

and th

[2016-06-06 18:30] tanay1337 commented on #40
Perfect, that is exactly what I had in mind! :D

[2016-06-07 03:41] tanay1337 commented on #43
@neilnelson Upon running the following:
[code]
I get the following output:
[code]
Guess the problem is something else here, I am working to investigate this.

[2016-06-09 13:36] neilnelson commented on #40
I just saw your new directory structure and it looks good. It may be that additional services like stt and tts would be added to the melissa directory and those could be grouped into a services directory. But that is farther along.

The following code obtains synonyms and associations for the words that connect to the Jasper Weather.py module.

<pre>
import requests
import json

def _decode_list(d

[2016-06-09 15:35] tanay1337 commented on #40
Let's discuss ConceptNet in it's respective issue. This one is for the completion of the Dynamically Loading of modules, which is a priority. Other than that, everything looks cool to me @neilnelson :) My only concern on your implementation as well as eradication of `WORDS` is that, any developer contributing  to the modules, will have to make a change to the Db as well along with adding the file

[2016-06-10 14:47] neilnelson commented on #40
Completed the dynamic load changes to the Melissa modules.
Completed the program to create the SQLite DB using the new WORDS attribute in the modules.

Starting the brain.py changes to use the SQLite DB and dynamic module load.
Will also need to write a new profile.py singleton from which the modules will get profile info.

[2016-06-10 15:30] tanay1337 commented on #40
@neilnelson Did you read my comment on SQLite DB usage?

[2016-06-10 16:16] neilnelson commented on #40
I do not quite understand your remarks. I am not eradicating WORDS at this time. WORDS is used in Jasper and is part of the dynamic loading. Here is an example of the new WORDS in business_news_reader.py.

``WORDS = {'news_reader': {'groups': [['business', 'news']]}}``

The format is different from Jasper because Melissa is using groups of words and may have several functions in the module that ma

[2016-06-10 17:16] tanay1337 commented on #40
Ah, I now get what you were trying to say! Sounds good till now. I really liked your structure of `WORDS`. Will be waiting for your PR :)

[2016-06-12 03:35] tanay1337 commented on #43
@jamesalexanderdickerson Just curious, did you follow the instructions of PocketSphinx installation mentioned [here](https://github.com/Melissa-AI/Melissa-Core/wiki/Installation)?

[2016-06-14 22:06] neilnelson commented on #40
### Designing the WORDS constant for modules

#### Melissa and Jasper format examples
This module code illustrates the Melissa WORDS format.
<pre>
WORDS = {'play_shuffle': {'priority': 1, 'groups': [['party', 'time'], ['party', 'mix']]},
         'play_random': {'groups': [['play', 'music'], 'music']},
         'play_specific_music': {'groups': ['play']}
        }
</pre>

This module code illustra

[2016-06-15 14:03] neilnelson commented on #40
I realized shortly after providing the pull request that ``get_modules`` in brain.py can be combined with ``assemble_words_db`` in words_db.py as there is good overlap there and have the ``modules`` dictionary be exposed with  ``con`` and  ``cur`` in words_db.py. This will also remove the class in brain.py making ``query`` in brain.py the only function. This will provide some streamlining and simp

[2016-06-19 21:44] neilnelson commented on #40
On your email,

From above you suggested

main.py
melissa/
  __init__.py
  brain.py
  profile_populator.py
  stt.py
  tts.py
  modules/
    __init__.py
    business_news_reader.py
    .... so on
</pre>

And I think I have most of that in place except for the top-level directory with main.py. I tried the top-level directory but it was not coming together well and figured we could give that a go in

[2016-06-20 04:13] tanay1337 commented on #40
How about let's fill the gaps that are present in this issue, make it stable and then start with stuff such as ConceptNet and threading to keep single commit per issue and easier for people to comprehend the changes @neilnelson ?

[2016-06-20 12:49] tanay1337 commented on #43
@jamesalexanderdickerson ping on this.

[2016-06-20 14:48] neilnelson commented on #43
I installed Melissa on a second computer and when using Google obtained a permissions error on this file

``/usr/local/lib/python2.7/dist-packages/speech_recognition/flac-linux-i386``

The sequence appeared to be that the

``audio = r.listen(source)``

line worked, I obtained the permissions error, and then the line

``except sr.UnknownValueError``

was executed, which is a return from Google sayi

[2016-06-21 12:48] neilnelson commented on #40
I looked the Travis error [here](https://travis-ci.org/Melissa-AI/Melissa-Core/builds/139077441) and if I use the line in question from the prior _.travis.yml_

``curl -O https://raw.githubusercontent.com/Melissa-AI/Melissa-Core/master/utilities/travis-build-core.sh``

_travis-build-core.sh_ is found. And so travis-ci.org is not finding the new location for the file under _setup_ as if ``https://r

[2016-06-21 15:41] tanay1337 commented on #40
@neilnelson Ah, I see! Did you make the changes to the `.travis.yml` already?

[2016-06-21 16:01] tanay1337 commented on #40
@neilnelson just noticed you already did that! Don't you think it would make more sense to insert `profile_populator.py` to `utilities`? Other than that the changes look fine, just have the concerns on the way the PR has been filed (and a small bug in the start of the program) as mentioned in the PR itself. Rest of the PR is pending testing which will be done on the opening of a fresh PR. Thanks a

[2016-06-21 17:34] neilnelson commented on #40
@tanay1337, Yes, the .travis.yml is changed and the new, changed one is the one travis-ci.org is using and not finding the new location for ``travis-build-core.sh``.

A ``utilities`` directory is under the ``melissa`` directory and is where I put ``json_decode.py`` that converts unicode to ``utf-8`` when profile.json is loaded by ``profile.py``. The idea for the ``utilities`` directory is that we

[2016-06-21 18:17] neilnelson commented on #37
@tanay1337, I have a coding design coming together for this and perhaps should explain it so that the changes, of which there will a good number, will not come as an unsettling surprise.

``main.py`` will start three threads

* ``request``
* ``notifications``
* ``response``

Each of the threads contains a while loop.

 ``request``
* calls ``stt`` which accepts the user's audio and returns the expr

[2016-06-21 18:35] tanay1337 commented on #40
@neilnelson Sounds fair enough! The idea for `data` directory and a gitignored `downloads` directory is definitely something that we can look into after we finish with this and https://github.com/Melissa-AI/Melissa-Core/issues/37. My comments on that bug can be found here: https://github.com/Melissa-AI/Melissa-Core/pull/46.

[2016-06-21 18:38] tanay1337 commented on #37
Sounds interesting @neilnelson! Would really appreciate much if we can first close https://github.com/Melissa-AI/Melissa-Core/issues/40 before starting on this. I will think on this and would give my two cents by tomorrow.

[2016-06-23 12:10] tanay1337 commented on #37
Awesome thoughts @neilnelson. Do you mind joining our Gitter Channel?

[2016-07-02 15:56] neilnelson commented on #37
#### Threading - Issue #37

main.py launches three primary threads:

##### Requests

* Speech audio is transcribed to text.
* The recognized text is used to select an action.
* The action is executed in one of the following ways depending
  on the action's properties:

  * ``threaded`` - A thread may be created for the action. Any
      return for a threaded action must go to the response deque.

[2016-07-07 20:07] neilnelson opened #48 "Provide automatic installation of PocketSphinx model files"
I have assembled a PocketSphinx language model and provided a download [here](https://github.com/neilnelson/Melissa_PocketSphinx). This includes the PocketSphinx acoustic model. The Melissa users will be ready to go with PocketSphinx by using this download.

[2016-07-08 17:20] neilnelson commented on #11
### Python GUI tools

#### wxPython and tkinter

[Python GUI Programming: wxPython vs. tkinter](http://www.activestate.com/blog/2015/10/python-gui-programming-wxpython-vs-tkinter)

The page says that tkinter is a better choice for a Raspberry Pi application regarding compute usage. Whereas for a common user computer this is not a factor.

The page also says that coding is a little easier under tki

[2016-07-08 18:00] tanay1337 commented on #11
Glad to hear about your developments @neilnelson! Thank you for your efforts :D

[2016-07-11 16:57] neilnelson commented on #48
I have improved [gen_lm_phrase_list.py](https://github.com/neilnelson/Melissa-Core/blob/master/setup/gen_lm_phrase_list.py) to include the language mode download from the [Sphinx Knowledge Base Tool](http://www.speech.cs.cmu.edu/tools/lmtool-new.html). The program requires ```encode.py``` and ```streaminghttp.py``` from [Poster](https://atlee.ca/software/poster/). gen_lm_phrase_list.py and the Pos

[2016-07-11 19:56] neilnelson commented on #11
Tanay's note above on Feb 18 is a good direction. I am looking at [RPyC - Transparent, Symmetric Distributed Computing](http://rpyc.readthedocs.io/en/latest/) as a way of connecting the GUI to the current Melissa engine/server. Melissa's current screen output would be redirected to the GUI through RPyC, and GUI, and keyboard instructions would be provided to the Melissa server through RPyC using t

[2016-07-12 10:15] tanay1337 commented on #11
Very interesting indeed @neilnelson :D

[2016-07-13 09:00] tanay1337 commented on #48
Looks awesome now! Can't wait for all your integrations to be pushed to the primary repository @neilnelson.

[2016-07-14 05:46] tanay1337 commented on #37
This is not a priority now and can be reopened at a later stage.

[2016-07-14 05:46] #37 closed

[2016-07-14 06:43] tanay1337 commented on #48
Fixed by https://github.com/Melissa-AI/Melissa-Core/pull/49.

[2016-07-14 06:43] #48 closed

[2016-07-14 06:43] tanay1337 commented on #43
@jamesalexanderdickerson This should have been solved by https://github.com/Melissa-AI/Melissa-Core/pull/49. Please feel free to reopen this issue if you still face any troubles.

[2016-07-14 06:43] #43 closed

[2016-07-14 06:44] tanay1337 commented on #40
Fixed by https://github.com/Melissa-AI/Melissa-Core/pull/49.

[2016-07-14 06:44] #40 closed

[2016-07-15 15:34] tanay1337 commented on #13
This is not a priority right now and can be reopened at a later stage.

[2016-07-15 15:34] #13 closed

[2016-07-16 08:58] tanay1337 opened #50 "Action-Hub Repository For Melissa"
This would involve removing `melissa/actions` folder so that if contributors wish to add a new module, they won't have to touch the main engine of Melissa. Furthermore, a new repository would be added under `Melissa-AI` named `Action-Hub` which would contain the list of action modules that the user might wish to add to their installation of Melissa. This would also include the creation of a `actio

[2016-07-16 10:19] tanay1337 commented on #50
The Action-Hub repository is located [here](https://github.com/Melissa-AI/Action-Hub) and the `action_hub.py` can look something like [this](https://gist.github.com/tanay1337/b90c73c641c3220f146b76d1953600f7). I wonder what would be the best approach to handle the individual requirements of the action modules?

Thoughts @neilnelson?

[2016-07-18 07:51] tanay1337 opened #51 "Always on with Keyword detection"
It would be great if Melissa puts itself in a suspended state after a pre-determined configurable period of inactivity (configurable in `profile.json`) and can be waken up only by it's keyword which would basically be the name of the user's VA (specified in `profile.json`).

[2016-07-18 09:01] tanay1337 opened #52 "Refactoring STT for interactive conversations"
As @neilnelson mentioned in the code of `stt.py`, we need a better implementation for the STT as well as its interaction with `brain.py` so that it allows us to hold spontaneous conversations with Melissa.

For example, a sample conversation for a better twitter module might be:
[code]

[2016-07-18 09:13] tanay1337 opened #53 "Multiple Runs Result in IndexError"
I found that running Melissa multiple times results in IndexError. Here's the traceback that I received:

[code]

[2016-07-18 09:14] tanay1337 commented on #53
@neilnelson ping.

[2016-07-19 14:56] tanay1337 commented on #53
Unable to reproduce again.

[2016-07-19 14:56] #53 closed

[2016-08-03 18:59] randomson opened #54 "Don't commit `poster` code to source, specify it as a requirement instead"
Some files have been copied from the [Poster repo](https://bitbucket.org/chrisatlee/poster)
 - https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/utilities/encode.py
 - https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/utilities/streaminghttp.py

The [`poster`](https://pypi.python.org/pypi/poster) package can be found in  the package index and there is no need to copy file

[2016-08-03 19:00] tanay1337 commented on #54
Agreed @randomson. Do you wish to work on a PR for this?

[2016-08-25 18:39] movprojects opened #55 "Add macosx speech to text input?"
perhaps add macosx speech to text input

but do it in a way where privacy is respected. please note apple's disclaimer on this feature of osx

When you use Dictation, you can choose to have either your Mac or Apple’s servers perform the speech recognition for you. If you use Enhanced Dictation, your Mac will convert what you say into text without sending your dictated speech to Apple.

If you use

[2016-08-26 07:58] matueranet commented on #51
This would work great in a combination with https://snowboy.kitt.ai/ If someone can point me in the right direction I may have a look at it, if I find the time.

[2016-09-05 17:26] tanay1337 commented on #51
Sorry for the late reply @matueranet. I would rather prefer this to be done with the help of PocketSphinx, the support for which is already provided.

[2016-09-06 06:27] #55 closed

[2016-09-06 07:18] tanay1337 commented on #50
The plans are now to shift to a better user experience with a complete bundled ready-to-go application. So, this does not make much sense now.

[2016-09-06 07:18] #50 closed

[2016-09-13 17:00] zacharisharris opened #56 "Error when saying something other than "Who are you"?"
I am at Chapter 3 of your book and I am doing the brain/general conversation module. While the "Who are you?" command works the undefined function doesn't. I am getting an unexpected error when I say other than "Who are you?" Can you help?

![2016-09-13 7 59 48](https://cloud.githubusercontent.com/assets/147350/18483441/ad3992b0-79ec-11e6-8783-a543ea3f6996.png)

[2016-09-13 17:08] #56 closed

[2016-09-13 17:11] tanay1337 commented on #56
Looks like there's something wrong with your code. Mind sharing your code file? Also, [this](https://groups.google.com/forum/#!forum/melissa-support--discussion-forum/) is the right place to post.

[2016-09-13 23:05] zacharisharris commented on #56
Yup, I did fix it. Something was wrong with the string that was returned from the undefined function. Thanks, anyway.

[2016-09-24 03:56] #54 closed

[2016-10-03 07:44] tanay1337 opened #57 "Apply PEP-8 Style Guide to Code"
Apply [PEP-8](https://www.python.org/dev/peps/pep-0008/) Style Guide to Melissa for better readability of the code. Fixing this issue will also help you get familiar with Melissa's Codebase.

[2016-10-03 07:50] yatingupta10 commented on #57
Do you want whole repo to be converted in PEP-8 Style or some specific file?

[2016-10-03 08:03] tanay1337 commented on #57
@yatingupta10 The whole repo. Thanks!

[2016-10-03 08:10] tanay1337 opened #58 "Implement Repeat Module"
Implementation of a new "repeat" module for the Melissa [Action Repository](https://github.com/Melissa-AI/Melissa-Core/tree/master/melissa/actions).

WORDS for module: repeat, say
Demo:
[code]

The repeat or say word will have to removed and the remaining string will have to be passed on to the `tts()` function.

[Sample format for an action module](https://github.com/Melissa-AI/Melissa-Core/blob/

[2016-10-03 08:39] yatingupta10 commented on #57
Am on it!

[2016-10-03 08:43] tanay1337 opened #59 "Improve the documentation of the Wiki"
The wiki needs some serious facelifting and elaboration of explanation, content and guidelines for new contributors. Fixing this issue will also help you get familiar with Melissa's Codebase.

I am available for mentorship on this issue if someone wishes to take this.

[2016-10-03 09:26] salman-bhai commented on #59
Hey, I'd like to contribute in improving the documentation for this. If you could direct me to resources to know about the topic it would be easier and more efficient for me to work on it.

[2016-10-03 09:32] tanay1337 commented on #59
Sure! It would benefit you to:

1. Go through the wiki and have a look at the existing documentation.
2. Read [this](https://www.amazon.com/Building-Virtual-Assistant-Raspberry-voice-controlled/dp/1484221664/ref=sr_1_1?ie=UTF8&qid=1475487035&sr=8-1&keywords=tanay+pant) book on Melissa.
3. Go through the code, opened and closed issues as well as merged PRs.
4. Ask us questions on our Gitter channel

[2016-10-03 10:19] tanay1337 opened #60 "New chatbot style interactions for conversations"
Addition of new chatbot style interactions for conversations in Melissa's `general_conversations.py` [action module](https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/actions/general_conversations.py).

[Sample format for an action module](https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/actions/sleep.py)
[Documentation of the WORDS constant](https://github.com/Melissa-A

[2016-10-03 10:24] amanmehta-maniac commented on #58
I would like to take up this issue. Can you please guide me further.

[2016-10-03 10:28] lakshmanaram commented on #60
Hey, I'd like to contribute to this issue and the Repeat action module one. :smiley:

[2016-10-03 10:38] tanay1337 commented on #58
Sure, the workflow would be something like this:

1. Take the user speech.
2. Remove the keyword.
3. Pass that to TTS.

I would suggest you go through the codebase and/or study the resources that I have provided above @amanmehta-maniac

[2016-10-03 10:44] amanmehta-maniac commented on #58
Yes, I am already on it. When just trying to make a dummy git push, I was getting permission denied.
Precisely, this : remote: Permission to Melissa-AI/Melissa-Core.git denied to amanmehta-maniac.
fatal: unable to access 'https://github.com/Melissa-AI/Melissa-Core.git/': The requested URL returned error: 403
Am I missing something?

[2016-10-03 10:45] tanay1337 commented on #58
Clone this repo, git clone that, add this as a remote, push to your repo and then open a PR.

[2016-10-03 13:03] Hutcharmy commented on #60
I'm interested in helping with this issue, any chance you can give more specifics on what you want in terms of keywords?

[2016-10-03 14:15] anurag-ks commented on #59
Hey @tanay1337 I'm willing to work on this issue, I just wanted to know is there any special coding conventions you guys follow. (except PEP8)

[2016-10-03 14:21] tanay1337 commented on #60
@Hutcharmy There's nothing specific right now. Think about something you might like in your personal assistant (or if you had something like Jarvis). Creative and flaunting conversations invited too. I would recommend everyone interested in this to first discuss the dialogues/keywords here before sending in a PR.

[2016-10-03 14:22] tanay1337 commented on #59
No, nothing as of now @anurag-ks.

[2016-10-03 15:00] yrahul3910 commented on #57
I'm working on implementing PEP-8 style guidelines to the code.

[2016-10-03 15:02] tanay1337 commented on #57
@yrahul3910 I think somebody is already working on that [here](https://github.com/Melissa-AI/Melissa-Core/pull/62).

[2016-10-03 15:10] tanay1337 commented on #58
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/64.

[2016-10-03 15:11] #58 closed

[2016-10-04 05:09] tanay1337 opened #66 "Include five new jokes for General Conversations"
Place to touch is [here](https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/actions/general_conversations.py#L33).

Please remove the following joke: `'What is the difference between snowmen and snowwomen? Snowballs.'`.

NOTE: No vulgar jokes, genuinely funny jokes only!

[2016-10-04 05:14] tanay1337 opened #67 "Unittests for Different Components"
Melissa needs tests, a lot of tests for the various components of its codebase to be run on Travis CI and locally before submitting a PR.

[2016-10-04 05:18] alainakafkes commented on #66
This is amazing. I'll take this. 😄

[2016-10-04 05:19] tanay1337 commented on #66
@alainakafkes Awesome! You might wanna discuss the jokes here first before sending in a PR. Let me know if you need help setting Melissa up.

[2016-10-04 05:20] alainakafkes commented on #66
To start:
"Why are mountains so funny? Because they're hill areas."
"Have you ever tried to eat a clock? It's very time consuming."

[2016-10-04 05:21] tanay1337 commented on #66
@alainakafkes Sounds good! Just 1 commit per PR please :D

[2016-10-04 05:22] alainakafkes commented on #66
Fair enough! 😆  I'll keep the jokes PC as above.

[2016-10-04 05:43] tanay1337 commented on #66
Solved here: https://github.com/Melissa-AI/Melissa-Core/pull/68.

[2016-10-04 05:43] #66 closed

[2016-10-04 13:23] tanay1337 opened #69 "Add pep8 Checker to Travis CI"
This will save time in reviewing pull requests. Blocked by: https://github.com/Melissa-AI/Melissa-Core/issues/57.

[2016-10-04 14:24] yatingupta10 commented on #69
You want only a checker?
like yesterday you showed me those PEP8 errors

[2016-10-04 14:34] tanay1337 commented on #69
Yup, a test based on those. So, that if a PR does not confirm to the PEP-8 standards, the test fails.

[2016-10-04 14:37] yatingupta10 commented on #69
I want to give it a try!
As am by now familiar with the codebase

[2016-10-04 15:37] tanay1337 commented on #69
We do not want this to be included as a separate script, but as a test. As I mentioned in the description, this Issue is blocked by another which needs to be resolved first. Moreover, the `requirements.txt` needs to be updated, so that the users can run tests locally.

[2016-10-04 19:16] amalshehu commented on #59
I cloned the project but the Wiki Documentation is included. So i edited the Melissa-AI/Melissa-Core Wiki.
Which is the best way to edit Wiki Documentation ?

[2016-10-05 04:32] tanay1337 commented on #57
Partial completion of this issue has been done here: https://github.com/Melissa-AI/Melissa-Core/pull/72.

[2016-10-05 09:50] tanay1337 commented on #60
@lakshmanaram and @Hutcharmy need any help from me?

[2016-10-05 09:52] tanay1337 commented on #57
Guys, @yatingupta10 @yrahul3910 @aniketmaithani you can still send in a PR for this as there are still some files left.

[2016-10-05 11:42] yatingupta10 commented on #57
could you please check the above PR as in this I had converted all files to PEP-8 Style manually?

[2016-10-05 11:52] tanay1337 commented on #57
@yatingupta10 They give runtime error.

[2016-10-05 12:44] manu-chroma commented on #57
@tanay1337 I've made a PR for the same.
All tests are passing. Please review.

[2016-10-05 13:28] tanay1337 commented on #69
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/75.

[2016-10-05 13:28] #69 closed

[2016-10-05 13:28] tanay1337 commented on #57
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/75.

[2016-10-05 13:28] #57 closed

[2016-10-05 13:30] tanay1337 commented on #59
You are going in the right direction @amalshehu!

[2016-10-05 13:42] aniketmaithani commented on #67
@tanay1337 can we add/integrate `py.test` to the repo so that we can have better grip over testing? Your take?

[2016-10-05 14:20] tanay1337 commented on #67
Sounds like a good solution that we would definitely like to implement @aniketmaithani.

[2016-10-05 15:14] aniketmaithani commented on #67
cool. let's do it then :D :D

[2016-10-05 17:11] tanay1337 commented on #60
Two new additions here: https://github.com/Melissa-AI/Melissa-Core/pull/77.

[2016-10-06 03:41] tanay1337 commented on #67
I discussed with Melissa's collaborators and we discussed that it makes more sense to use `unittest` to prevent adding just another dependency. `unittest` will allow us to accomplish the required tasks.

[2016-10-06 15:23] tanay1337 opened #80 "Add Date and Day Functions"
Giving Melissa the ability to tell the date and day would be great. For that purpose, two new functions will have to be added: `what_is_date()` and `what_is_day()`. Keywords would be `date` and `day` respectively.

The file to touch is [this](https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/actions/tell_time.py).

[2016-10-06 15:27] mattk410 commented on #80
I'll work on this

[2016-10-06 15:43] tanay1337 opened #81 "Add Spelling Action Module"
Create a `spelling.py` file in `melissa/actions/` and use the keyword "spell". Rest of the dynamics of this module are similar to https://github.com/Melissa-AI/Melissa-Core/issues/58.

[2016-10-06 15:49] ankit01ojha commented on #81
I want to take it, but what about the keyword "spell"

[2016-10-06 16:18] tanay1337 commented on #81
@ankit01ojha What about it?

[2016-10-06 16:19] ak9969 commented on #80
I want to take it

[2016-10-06 16:21] ankit01ojha commented on #81
I want to ask how to use it

[2016-10-06 16:23] tanay1337 commented on #80
Go ahead guys!

[2016-10-06 16:26] tanay1337 commented on #81
Mentioned in the referenced issue @ankit01ojha :)

[2016-10-06 16:49] anantprsd5 commented on #80
Added a patch for it. Please review the same.

[2016-10-06 17:45] anantprsd5 commented on #81
I'm up for this.

[2016-10-06 17:47] tanay1337 commented on #81
Sure @anantprsd5 please follow the current coding practices present in the codebase and try to understand the code first. Your previous PR wasn't quite suitable for our current standards. Thanks :)

[2016-10-06 18:14] anantprsd5 commented on #81
Sorry for the previous PR. Submitted a PR for this issue, please review the same.

[2016-10-06 19:38] tanay1337 commented on #81
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/90.

[2016-10-06 19:38] #81 closed

[2016-10-06 19:39] tanay1337 commented on #80
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/83.

[2016-10-06 19:39] #80 closed

[2016-10-06 19:44] tanay1337 commented on #59
On second thoughts, this might be too exhaustive for Hacktoberfest.

[2016-10-07 18:12] tanay1337 opened #93 "Sort requirements.txt"
Sort the contents of the `requirements.txt` file like it has been done [here](https://github.com/jasperproject/jasper-client/blob/master/client/requirements.txt).

[2016-10-07 18:53] supermoney1709 commented on #93
Starting this now.

[2016-10-07 19:38] abishekk92 commented on #93
I can take this up.

[2016-10-07 19:41] supermoney1709 commented on #93
Go ahead

On Oct 7, 2016 3:38 PM, "Abishek Bhat" <notifications@github.com> wrote:

[2016-10-08 04:02] tanay1337 opened #94 "Reformat setup.cfg"
We need to reformat the contents of `setup.cfg` so that they are not in a very long single line. Example: https://github.com/openstack/neutron/blob/master/setup.cfg

[2016-10-08 05:54] abhyudaypratap commented on #93
I am taking this up.

[2016-10-08 06:11] abhyudaypratap commented on #93
@tanay1337  pywapi module is not present in requirements but in used in weather.py
Similarly some modules in requirements are not been used like SpeechRecognition

[2016-10-08 06:22] tanay1337 commented on #93
@abhyudaypratap pywapi has to be built separately, as mentioned [here](https://github.com/Melissa-AI/Melissa-Core/wiki/Installation).

[2016-10-08 07:26] WyriHaximus commented on #94
I'll pick this one up

[2016-10-08 07:32] WyriHaximus commented on #94
PR up at #96

[2016-10-08 07:54] #94 closed

[2016-10-08 07:54] tanay1337 commented on #94
Thank you @WyriHaximus for your contribution to Melissa :D

[2016-10-08 09:05] WyriHaximus commented on #94
No problem :D

[2016-10-08 09:23] rachmadaniHaryono commented on #67
hi, i try this issue with pytest too because it is easier and shorter when testing. [other reason here](http://halfcooked.com/presentations/pyconau2013/why_I_use_pytest.html)

here is an example of fully tested tts module with pytest   https://github.com/rachmadaniHaryono/Melissa-Core/blob/add-test/tests/test_stt.py

[2016-10-08 10:43] tanay1337 commented on #67
Looks pretty interesting! Let me go through it and get back to you @rachmadaniHaryono. Thanks :)

[2016-10-08 10:54] rachmadaniHaryono commented on #67
just an update, the actual branch is here https://github.com/rachmadaniHaryono/Melissa-Core/tree/add-test/tests

and the finished test is the test for module tts ( i got the test filename wrong on the last message.) (https://github.com/rachmadaniHaryono/Melissa-Core/blob/add-test/tests/test_tts.py)

@aniketmaithani . do you still working on it? because i will test stt module next.

[2016-10-08 11:07] tanay1337 commented on #67
Okay guys, fine! You have convinced me to use `pytest`. Impressive work with the `test_tts.py` @rachmadaniHaryono. You might want to start pushing tests to the main repository (and you can delete the placeholder test as well) so that I can start reviewing them :)

Thanks!

[2016-10-08 15:40] #93 closed

[2016-10-08 15:40] tanay1337 commented on #93
Thank you @lakshmanaram for your contribution to Melissa :D

[2016-10-08 15:42] lakshmanaram commented on #93
I am looking forward to contributing more! :smile: @tanay1337

[2016-10-08 15:43] tanay1337 commented on #93
Awesome! Welcome to the team :)

[2016-10-08 17:25] tanay1337 opened #102 "Fix The Readout Of Date"
When I ran the tell_time module today (8th Oct, 2016), Melissa told me that the date was 10th Aug, 2016. This needs to be fixed. The appropriate file to touch is [this](https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/actions/tell_time.py).

[2016-10-08 17:26] tanay1337 commented on #102
@mattk410, you might be interested in this.

[2016-10-08 17:58] divayprakash commented on #102
@tanay1337 I'd like to work on this, if that's okay.

[2016-10-08 18:23] aniketmaithani commented on #67
@rachmadaniHaryono you can go ahead with this. I am caught up in my worldly affairs :P

[2016-10-09 03:52] #102 closed

[2016-10-09 17:46] tanay1337 commented on #52
For interactive responses, you can first import stt to your action module and use the `stt()` function. Take care that the `stt()` function returns string.

[2016-10-09 17:48] #52 closed

[2016-10-09 17:54] tanay1337 opened #105 "Error if Melissa Cannot Understand Audio"
This bug is brought to you by https://github.com/Melissa-AI/Melissa-Core/issues/52.

[2016-10-09 17:59] #105 closed

[2016-10-09 19:00] tanay1337 commented on #51
I just tried Snowboy and I agree that implementing this feature with the help of Snowboy would be easier than running an implementation with Pocketsphinx. So, Snowboy it is!

[2016-10-09 19:33] vedmathai opened #106 "Getting a list of cities via search on weather.com api"
In the profile generator, I think it will be nice if we could use the __pywapi__ package itself to return a list of possible cities and their city codes from weather.com that matched the given city name, so that user just has to select a particular index of the city in the list.

[2016-10-09 19:38] tanay1337 commented on #106
This is an interesting idea, what workflow do you suggest?

[2016-10-10 05:26] tanay1337 commented on #59
Important: Include documentation of https://github.com/Melissa-AI/Melissa-Core/pull/108.

[2016-10-10 05:27] tanay1337 commented on #51
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/108.

[2016-10-10 05:27] #51 closed

[2016-10-10 06:01] tanay1337 opened #109 "Change Keyword from Just "Melissa"?"
It just came to my mind that if we should change the keyword to something like maybe "Hey Melissa" instead of just "Melissa". The reason behind this is, you might mistakenly bring Melissa to active state when mentioning her to someone (depends on scenario) which is why the usual keywords are like "Okay, Google!" or "Hey Siri!". Thoughts?

[2016-10-10 11:10] tanay1337 commented on #59
Anyone up for this?

[2016-10-10 12:09] tanay1337 commented on #59
Updated the following pages:

1. https://github.com/Melissa-AI/Melissa-Core/wiki
2. https://github.com/Melissa-AI/Melissa-Core/wiki/Installation
3. https://github.com/Melissa-AI/Melissa-Core/wiki/Configuration
4. https://github.com/Melissa-AI/Melissa-Core/wiki/Usage-Guide
5. https://github.com/Melissa-AI/Melissa-Core/wiki/Contributing

Feel free to edit the wiki to add new information/guidelines a

[2016-10-10 12:09] #59 closed

[2016-10-10 12:21] #60 closed

[2016-10-10 12:31] vedmathai commented on #11
Why aren't you making the UI Web/REST/Javascript/Angular based? The only thing I think will be an issue of the top of my head are the voice commands. Because all said and done Web and mobile will give you best control over look and feel (excluding PyQT). If someone can pull off voice commands through a browser I think that would be the best bet. No?

[2016-10-10 12:40] tanay1337 commented on #106
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/107. Thank you @vedmathai.

[2016-10-10 12:40] #106 closed

[2016-10-10 14:00] tanay1337 commented on #11
Completely agree with you, but then there's the problem of STT :P I've tried Electron as an interface but yeah eventually everything boils down to the same set of problems.

[2016-10-10 14:10] tanay1337 opened #110 "Call for any bugs, inconsistencies, formatting, anything!"
Hello lovely folks,

With the active participation of so many contributors and awesome breakthroughs in our codebase such as flake8 compliance, improved documentation, interactive conversations support and hotword detection, I feel that now it is time for us to release the first version `0.1` as a public beta. The due date is the 5th of November, 2016.

Before going through with this, I invite eve

[2016-10-10 14:11] tanay1337 commented on #110
cc @aniketmaithani @danielkoster @vedmathai @anurag-ks @neilnelson @aniketk21 @CBickel87 @lakshmanaram @anantprsd5 @Pratik151

[2016-10-10 14:23] tanay1337 opened #111 "Develop an Intent Parser/Phrase Mapping For Use in Actions"
Develop a simple Intent Parser `message_checker.py` for checking phrases or possible answers for use by the various action modules  for interactive conversations as was mentioned here (https://github.com/Melissa-AI/Melissa-Core/issues/52).

[2016-10-10 14:25] tanay1337 opened #112 "Enhance Action Modules For Interactive Conversations"
Leverage the newly exposed `stt()` via https://github.com/Melissa-AI/Melissa-Core/issues/52 to make Melissa more engaging and interactive. Blocked by https://github.com/Melissa-AI/Melissa-Core/issues/111.

[2016-10-10 14:59] vedmathai opened #113 "mpg123 missing - add to requirements or setup"
Mpg123 subprocess call failed for me since I didn't have the binary for it. Automatic download of it should be added to setup.

[2016-10-10 15:00] tanay1337 commented on #113
It's been listed as the requirement here: https://github.com/Melissa-AI/Melissa-Core/wiki/Installation.

[2016-10-10 15:00] #113 closed

[2016-10-10 15:06] vedmathai opened #114 "Making a script that installs dependancies"
As an enhancement we can add a bash script, like a ./setup that installs all the dependencies and runs pip too?

[2016-10-10 15:07] tanay1337 commented on #112
Closing this now, as it will require creative thinking about the conversations and possible scenarios. Maybe work on this for the second release.

[2016-10-10 15:07] #112 closed

[2016-10-10 15:10] tanay1337 commented on #114
@vedmathai Please do not open empty issues.

[2016-10-10 15:11] #111 closed

[2016-10-10 15:12] tanay1337 commented on #111
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/115.

[2016-10-10 16:23] aniketmaithani commented on #110
@tanay1337 I would also like to propose that since you are very particular about GIT GUIDELINES let's have the same for commit message too. I've seen that sometimes the commit message doesn't really implies what fix, feature or documentation changes have been made in the subsequent commit and it makes it hard for the outsider to contribute easily. You thoughts?

[2016-10-10 16:48] tanay1337 commented on #110
Agreed @aniketmaithani! Will draft up something on this soon.

[2016-10-10 16:48] vedmathai commented on #114
Sorry, the draft got published by mistake. I am writing the whole thing now.

[2016-10-10 17:01] tanay1337 commented on #114
How different would it be in terms of architecture as compared to https://github.com/Melissa-AI/Melissa-Core/blob/master/setup/travis-build-core.sh ?

[2016-10-10 17:11] vedmathai commented on #114
This is exactly what I had in mind. Maybe one work around is make something called ./install.sh and then call the file you mentioned above from within it.
Another is to make the setup more interaction oriented, similar to what you have in the installation wiki. But only the setup interacts with you. If you ask me, it seems more of a frill than anything. But it will be nice considering you a aiming

[2016-10-10 17:38] tanay1337 commented on #114
I see, do you wanna mock up a sample so that I can get a more precise idea of what are you trying to do differently? I must admit, an easier installation process is crucial to save time.

[2016-10-11 06:35] rachmadaniHaryono opened #117 "move telegram handle function for testing"
on stt module there is handle function which is used for telegram. can someone move it outside stt function, so it can be tested.

[2016-10-11 06:41] tanay1337 commented on #117
I would rather prefer to keep all the methods of input in the `stt()` function itself. Why is it proving to be a problem inside the `stt()` for tests?

[2016-10-11 06:56] rachmadaniHaryono commented on #117
because it can't be tested or mocked. on this line

    bot.notifyOnMessage(handle)

function is used as an input. i can test `bot.notifyOnMessage` is called but i can't check the input for `notifyOnMessage` func. this is different with `sphinx_stt` function which is also an inner funciton on the `stt` function, because it is called on this line

    brain.query(sphinx_stt())

the result of the `s

[2016-10-11 07:02] tanay1337 commented on #117
Umm @rachmadaniHaryono, you are working on an old fork! The stt module has been changed since. It would be really nice if we can start merging your tests one by one rather than all at once as that might prove to be troublesome. Can we first finish the tts test PR first and then we can look to make changes according to your needs of the stt testing to prevent things from getting messy. Thanks!

[2016-10-12 12:43] tanay1337 commented on #117
This still an issue @rachmadaniHaryono?

[2016-10-12 12:51] rachmadaniHaryono commented on #117
yes,  the in `stt` function on master branch, the `handle` function for telegram stt is still unchanged. but as i said if it is intended to do so, then we can close this issue.

[2016-10-12 13:18] aniketk21 opened #122 "Change all the code from Python2 to Python3"
Thoughts? @tanay1337 @aniketmaithani @danielkoster @vedmathai @anurag-ks @neilnelson @CBickel87 @lakshmanaram @anantprsd5 @Pratik151

[2016-10-12 13:30] rachmadaniHaryono commented on #122
this project can use `tox` to handle multiple python version and check if anything going as expected. but this have to wait until all unit tested #67

[2016-10-12 14:02] tanay1337 commented on #122
Any particular benefit we would get from this? @aniketk21

[2016-10-12 14:03] #117 closed

[2016-10-12 14:52] aniketk21 commented on #122
@tanay1337 - Quoting Guido, "there will be no Python 2.8 and that where possible Python users and developers should move over to Python 3.4".

[2016-10-12 15:02] tanay1337 commented on #122
I am not going to engage in it as it brings no particular benefit to the project and will take a lot of time. However, you can go ahead with this after @rachmadaniHaryono tests are done if you want, otherwise you might want to close this issue.

[2016-10-12 16:00] vedmathai opened #123 "How are chatbots made in a scalable fashion? And suggestions on how do we pull that in"
If we want to get all chatbot-ty in our conversations there has to be some scalable method of doing it. In the sense we can't be writing if-else code as proxies for decision tree based chatbots. That is simply not scalable.
Ideally we should be writing python code that doesn't semantically understand what is being said and the actual meanings are dealt with through a service or database etc (or si

[2016-10-13 12:54] tanay1337 commented on #123
Interesting @vedmathai! Give me time to do some reading on this. However, do suggest if you have something in mind for this, it would be nice to have this implementation in Melissa :)

[2016-10-13 16:39] tanay1337 opened #126 "Delete tests/check_profile.py"
We need to delete the placeholder test `tests/check_profile.py` since we have working tests for Melissa now.

[2016-10-13 16:45] yrahul3910 commented on #126
Just have to get rid of the file, did I understand it right?

[2016-10-13 17:07] #126 closed

[2016-10-13 17:08] tanay1337 commented on #126
Solved here: https://github.com/Melissa-AI/Melissa-Core/pull/128.

[2016-10-16 03:21] #122 closed

[2016-10-16 03:40] tanay1337 opened #130 "ImportError on running create_lm.py"
On running `python setup/create_lm.py` we get the following Traceback:

[code]

[2016-10-16 03:42] tanay1337 opened #131 "Beautify requirements-dev.txt"
There should a be blank line after `-r requirements.txt` and in the 7th line, T should be capitalized in `this` and `travis` in the comment.

[2016-10-16 03:53] tanay1337 opened #132 "Add Evernote Integration in notes.py"
1. In [this](https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/actions/notes.py) file, it would be better to add Evernote Integration instead of our homebrew solution. This would require changes to `melissa/profile_populator.py` as well. [This](https://dev.evernote.com/doc/start/python.php) will be used and has information on Evernote Cloud API.
2. Keywords will make to be updated to

[2016-10-16 04:00] dhwanilvyas commented on #131
You just need a blank space after the `-r requirments.txt` line right?

[2016-10-16 04:22] vidhan13j07 commented on #132
Can I take up this issue if no one is working on it?

[2016-10-16 04:30] rachmadaniHaryono commented on #132
could this be in its own function on the module. there already a lot of other question already is on `profile_populator` function. adding testing for this require the test-writer to mock io in the `profile_populator` function.

so something like this

    def _evernote():
        # ...
        return evernote_data

    def profile_populator():
        # ... other code
        evernote_data = _ever

[2016-10-16 04:33] tanay1337 commented on #132
Not right now @rachmadaniHaryono. Maybe we can take up refactoring `profile_populator.py` as a separate issue.

[2016-10-16 04:50] rachmadaniHaryono commented on #130
i have the same error when melissa is not installed user python. maybe use this http://stackoverflow.com/a/8015152

    # Melissa
    try:
        import melissa.actions_db as actions_db
    except ImportError:
        import sys, os
        sys.path.insert(0,
            os.path.dirname(os.path.dirname(os.path.abspath(__file__))))
        import melissa.actions_db as actions_db
        del sys.pa

[2016-10-16 04:51] rachmadaniHaryono commented on #132
but  can we start, not writing all question on `profile_populator` func?

[2016-10-16 04:53] tanay1337 commented on #132
The refactor will need to happen first. Because in case nobody wishes to pick up the refactor issue, there would just be a single function hanging out alone.

[2016-10-16 04:57] rachmadaniHaryono commented on #132
ok, i understand. mention me if anyone need help by testing. i'm still on `profile` module

[2016-10-16 05:00] tanay1337 commented on #132
Sure, thanks @rachmadaniHaryono :)

[2016-10-16 05:45] tanay1337 commented on #130
Yes, that might just work. This is up for grabs!

[2016-10-16 05:46] tanay1337 commented on #132
Go ahead @vidhan13j07!

[2016-10-16 05:46] tanay1337 commented on #109
Maybe we will just leave it as-is for now.

[2016-10-16 05:46] #109 closed

[2016-10-16 06:04] TheMadCoder1 commented on #130
Hi, I am participating in Hacktoberfest and I really want to start contributing to open source but I can't figure out how. Large codebases are very difficult to understand and work on, at least for me, so I can't seem to do anything. I'm grateful for this opportunity to make a contribution. I just have one question. I don't want to word this in a way that sounds wrong but I do not understand why i

[2016-10-16 06:11] rachmadaniHaryono commented on #130
well the fix may seem easy (and copy paste), but the question is this a good/clean answer? i only try it on my platform, is other platform working, is there any other error? how about testing it?

it is for everyone, but try see what each module do. i am doing testing, so i know how every module do and maybe later i understand how this project work. you can try other issue and see if there is any

[2016-10-16 06:32] tanay1337 commented on #130
Yes, just what @rachmadaniHaryono said and what you said too (`Is it for Hacktoberfest, giving developers like me the opportunity to contribute? If so, thank you!`).

[2016-10-16 06:48] #130 closed

[2016-10-16 07:02] #131 closed

[2016-10-16 08:43] tanay1337 opened #136 "Implement Chuck Norris API For Jokes"
Details can be retrieved from the discussion here: https://github.com/Melissa-AI/Melissa-Core/pull/116. Assigned to @vedmathai.

[2016-10-16 12:26] tanay1337 opened #139 "Resolve Duplicity of Message"
When running `python main.py`, we get the message `Loading profile data` twice which needs to be resolved.

[2016-10-16 13:04] va6996 commented on #139
On it

[2016-10-16 13:29] tanay1337 commented on #139
This error is caused because `profile.py` is being called two times, once from [here](https://github.com/Melissa-AI/Melissa-Core/blob/master/main.py#L5) and then again from[here](https://github.com/Melissa-AI/Melissa-Core/blob/master/main.py#L9), both of which are crucial.

One quick fix solution might be to delete [this](https://github.com/Melissa-AI/Melissa-Core/blob/master/melissa/profile.py#L1

[2016-10-16 14:02] va6996 commented on #139
is there really a need to import profile in start? I dont see any reference in start.py

[2016-10-16 14:20] tanay1337 commented on #139
It is being used both at `main.py` and `start.py`. For your [reference](https://github.com/Melissa-AI/Melissa-Core/blob/master/start.py#L12).

[2016-10-16 14:44] rachmadaniHaryono commented on #139
here is another alternative, but more complex from than deleting that print line

[code]
any from both file can import `profile_loader` and run `load_profile(skip_message=True)`, to skip the message

advantage of this

- nothing change (hopefully) for module who use `profile.py`. afaik no module use `load_profile` func directly from that `profile` module
- `profile` is 100% script, no global, func

[2016-10-16 16:18] tanay1337 commented on #139
Yes, implementation of just `def load_profile(skip_message=False):` and ` if not skip_message:` seems a better solution instead of deleting that print statement. Feel free to pick this issue up guys!

[2016-10-16 21:04] Erick2206 commented on #136
@tanay1337  Why has this issue been re-opened?

[2016-10-17 03:04] rachmadaniHaryono commented on #139
if anyone want to pick this, please check if there is any race condition of profile creation between `start.py` and `main.py`.

[2016-10-17 03:27] tanay1337 commented on #136
It's been mentioned here: https://github.com/Melissa-AI/Melissa-Core/pull/116.

[2016-10-18 07:10] tanay1337 commented on #132
Any updates @vidhan13j07?

[2016-10-20 11:11] rachmadaniHaryono commented on #139
anyone working on this?  @aniketk21 @vedmathai @tanay1337 @rosskyl

[2016-10-20 16:26] tanay1337 commented on #139
Go ahead @rachmadaniHaryono!

[2016-10-20 17:53] lakshmanaram commented on #139
I would like to take up this issue @tanay1337 @rachmadaniHaryono

[2016-10-20 21:42] rachmadaniHaryono commented on #139
OK @lakshmanaram, you can take it.

[2016-10-27 19:49] vedmathai commented on #132
Evernote requires a developer to sign up for a key for the project. How does one share such things in an open source dev team?

[2016-10-28 04:11] tanay1337 commented on #132
@vedmathai Everyone will have to get a unique key to work with the module.

[2016-10-28 17:01] vedmathai commented on #132
If you go through [this](https://dev.evernote.com/doc/articles/authentication.php) page you'd see that to give permission to our app Evernote requires the user to be redirected to their website where they have to click button and after that the auth information will be sent back on the redirect back from there. In a design sense, what do we do here, since Melissa is still terminal based, will it b

[2016-10-29 13:17] rachmadaniHaryono commented on #132
if i'm not wrong, rtv (reddit terminal app) also open the default browser (based on os) to let reddit authorize the app. we can also do the same thing and after that let user press certain key after authorization, to signify the next action (cancel or continue to other things)

[2016-10-31 04:15] tanay1337 commented on #132
You are right @rachmadaniHaryono, however, I agree with @vedmathai's point of view as well and feel that we should probably wait for shifting to GUI interface before implementing this issue.

[2016-10-31 04:15] #132 closed

[2016-11-01 11:37] SabareeshIyer commented on #11
Having worked with tkinter and wxPython previously, I found wxPython easier to work with, malleable to the developer's requirements and resulting in a better looking end product. I assume the GUI is intended to be basic and nothing fancy yet.

[2016-11-01 11:48] tanay1337 commented on #11
Planning to have something like what has been demonstrated [here](http://www.ibtimes.co.uk/jaesa-help-bring-iron-mans-jarvis-virtual-personal-assistant-life-1454359). Kivy seems to be the best option till now @SabareeshIyer.

[2016-11-01 11:51] tanay1337 commented on #123
A new repo might be soon opened for solving this under https://github.com/Melissa-AI/.

[2016-11-01 11:51] #123 closed

[2016-11-01 11:51] tanay1337 commented on #67
What components are left under this @rachmadaniHaryono?

[2016-11-01 11:53] tanay1337 commented on #110
Thanks and congratulations everyone for all the PRs and issues! It was a great Hacktoberfest :D

[2016-11-01 11:53] #110 closed

[2016-11-01 12:13] lakshmanaram commented on #114
How about wrapping it as an Python package thus allowing people to install it using a single line command like
[code]
which inturn calls a script that consists of the following lines of code
[code]

[2016-11-01 12:14] #139 closed

[2016-11-01 12:17] tanay1337 commented on #114
Yes, let's make `brew` and `apt-get` package managers a priority. Have you worked on making packages for these before @lakshmanaram?

[2016-11-01 12:20] lakshmanaram commented on #114
@tanay1337  I have worked on managing python packages before but haven't done brew or apt-get. I can try working on the apt-get one if that's okay....

[2016-11-01 12:25] tanay1337 commented on #114
Pardon me @lakshmanaram, I misread what you wrote. pip seems like a good idea, go ahead with that.

[2016-11-01 12:30] lakshmanaram commented on #114
@tanay1337 I shall start working on it right away.. :+1:

[2016-11-01 13:07] rachmadaniHaryono commented on #67
- plugins especially `find_iphones`
- `start` and `main` module. i may have to change the module so it doesnt run when it get imported (try `if __name__ == '__main__'`, if it will work when testing.
- `brain` module (once again till 100% coverage)
- replace the test which require profile. after #143 it should be possible to mock that profile instead creating the temp file.
- addition for wiki on c

[2016-11-01 13:18] tanay1337 commented on #67
Cool, we can use coveralls.io as well @rachmadaniHaryono!

[2016-11-01 13:26] rachmadaniHaryono commented on #67
you can choose one between those two, because we don't need both. it is kinda redundant to  have both service report the same number (supposedly).

i will make another branch if you choose coveralls.

just for comparison

- https://www.slant.co/versus/7928/7929/~coveralls_vs_codecov

also codecov have this extension https://github.com/codecov/browser-extension#codecov-extension

[2016-11-01 13:30] tanay1337 commented on #67
Cool @rachmadaniHaryono codecov it is!

[2016-11-01 13:47] rachmadaniHaryono commented on #67
you should check if the badge is working.

[2016-11-02 18:38] danielkoster commented on #67
Hi, I just noticed you're using Codacy, and added code-coverage with codecov. It is possible to automate the code-coverage generation with Codacy as well, they offer a `python-codacy-coverage` project, installable with pip. I've integrated in one of my own projects as well: [.travis.yml](https://github.com/danielkoster/argosd/blob/master/.travis.yml). You just have to include the Codacy API token

[2016-11-03 10:10] rachmadaniHaryono commented on #67
done 1/4 #147

[2016-11-07 09:57] tanay1337 commented on #67
Getting the following error after merging the latest PR @rachmadaniHaryono:

[code]

[2016-11-11 06:07] rachmadaniHaryono commented on #67
current situation:

- `snowboydetect` and `snowboydecoder` is not tested. it is caused by invalid elf header. see #149
- `main` module can't be tested because it import `snowboydecodeer` and raise the same invalid elf header error.

[2016-11-12 09:12] tanay1337 commented on #67
Good ideas, let's drop #122 for now. Fixing issues mentioned [here](https://www.codacy.com/app/tanay1337/Melissa-Core/dashboard) would be another thing that might interest you!

[2016-11-12 09:37] rachmadaniHaryono commented on #67
other than those 3 modules(`snowboydetect`, `snowboydecoder` and `main`) i think there nothing left to test.

i will try those fix those check from codacy.

[2016-11-18 08:23] tanay1337 commented on #67
I think this one is good to be closed now.

[2016-11-18 08:23] #67 closed

[2016-11-18 08:24] tanay1337 commented on #114
Any updates @lakshmanaram?

[2016-11-19 10:55] lakshmanaram commented on #114
I am working on it @tanay1337 . Really sorry for the delay.
And is it okay if I rearrange the repo structure to look this way
[code]

[2016-11-19 11:06] lakshmanaram commented on #114
I am working on it @tanay1337 . Really sorry for the delay.
And is it okay if I rearrange the repo structure to look this way
[code]
With respect to this structure, Melissa-Core would be the git repo and outer melissa directory would be considered as a single module inside which all the other directories are placed undisturbed.
Classic structure for Python packages is to have a single module direc

[2016-11-20 05:22] tanay1337 commented on #114
Hmm, I can't see why not but I just have a few concerns (or rather questions since I am not aware of the pip workflow and infrastructure).

1. The users will have to go to `Melissa-Core/melissa` when they start?
2. Is it possible to abstract the installation procedure to just `pip install melissa` and  then use it from an independent Python file via something similar to this?
[code]

CC: @rachmada

[2016-11-20 06:07] rachmadaniHaryono commented on #114
for question

 1 don't have to.

from python
[code]
or we can add __main__.py to call it from module (http://stackoverflow.com/questions/4042905/what-is-main-py)
```python -m melissa````

 2 to use it from pip install just add entry points http://python-packaging.readthedocs.io/en/latest/command-line-scripts.html#the-console-scripts-entry-point

advantage

- the structure have advantage for subfol

[2016-11-20 09:35] tanay1337 commented on #114
Okay then, you can go ahead with the proposed architecture @lakshmanaram!

[2016-11-20 10:31] lakshmanaram commented on #114
Cool @tanay1337
@rachmadaniHaryono  explained the structure beautifully. Thanks for the links.
I initially intended to move the tests, so that they'll not be disturbed relative to the project core. I guess, I shall keep the tests folder as suggested in the main directory itself. :+1:
And there are setup and data folders inside melissa directory at present which aren't going to be disturbed in the

[2016-11-25 12:55] tanay1337 commented on #11
Assigned to @bhaveshAn.

[2016-12-04 21:41] shaaza commented on #11
Have you looked at using an Electron-based UI? Easiest way to setup a cross-platform frontend  with ease.

[2016-12-24 01:36] asleniovas opened #156 "setup.py egg_info failed with error code 1"
Hi everyone,

Hope all is well. Whilst running pip install -r requirements.txt on my RPi 3 I stumble upon the below error:

`Command python setup.py egg.info failed with error code 1 in /tmp/pip-build-XJsUjk/pygame`

Also, before the installation stops with the above I am getting this:

WARNING: "sdl-config" failed!

Unable to run "sdl-config". Please make sure a development version of SDL is inst

[2016-12-24 22:14] rachmadaniHaryono commented on #156
It's it only for this program?

Can you try what suggested here http://stackoverflow.com/a/36025294

[2016-12-25 16:10] asleniovas commented on #156
Hello again,

@rachmadaniHaryono thank you for your suggestion. It seem to have worked to an extent... I am now getting the following error:

`WARNING, No "Setup" File Exists, Running "config.py"
    Using UNIX configuration...

    Hunting dependencies...
    SDL     : found 1.2.15
    FONT    : found
    IMAGE   : found
    MIXER   : found
    PNG     : found
    JPEG    : found
    SCRAP   : fo

[2016-12-25 20:50] rachmadaniHaryono commented on #156
Can't find the specific error, but can you try http://stackoverflow.com/a/19875416

[2016-12-27 15:56] tanay1337 commented on #11
This issue has taken too long and there hasn't been any visible progress on this. After carefully considering the arguments of everyone here and afk, the best solution that I could come up with was using the in-built STT of Chrome which would be controlled by a web-based interface which would be served using a Flask server. The Flask server would communicate with the web interface using web socket

[2016-12-27 15:58] tanay1337 commented on #114
Any progress on this @lakshmanaram @rachmadaniHaryono? This is now P1 and is acting as a blocker for https://github.com/Melissa-AI/Melissa-Core/issues/11.

[2016-12-27 16:02] tanay1337 commented on #156
Is your problem resolved now @asleniovas?

[2016-12-27 19:13] asleniovas commented on #156
@tanay1337 I think I'm almost there! I have followed @rachmadaniHaryono advice and successfully installed pygame with "hg". Requirements.txt was running well until this:

`  Found existing installation: six 1.8.0
    Not uninstalling six at /usr/lib/python2.7/dist-packages, owned by OS
    Can't roll back six; was not uninstalled
    Cleaning up...
    Exception:
       Traceback (most recent call

[2016-12-28 00:02] rachmadaniHaryono commented on #156
from the error itself, it seem you may need to use sudo. but i'm not quite familiar with raspberry pi system and not quite sure if sudo is required in installation.

[2016-12-28 09:10] tanay1337 commented on #11
Blocked by: https://github.com/Melissa-AI/Melisandre/issues/1.

[2016-12-28 12:50] #136 closed

[2016-12-28 13:10] tanay1337 opened #157 "[SOS] Build Failing"
@rachmadaniHaryono need your expertise here!

[2016-12-28 16:42] #157 closed

[2017-01-04 23:56] GPhantom opened #159 "Add a Notification System"
The Notification System will be optional. The users will have the choice when creating their profiles to either add a token or just proceed with the rest questions.

I can build one using PushBullet API.

here is a sample of one of my PR for the RaspberryPi:

![photo 12-31-16 5 51 48 pm](https://cloud.githubusercontent.com/assets/23397384/21663446/f7a972a2-d2e8-11e6-94ac-55ebd3ab6650.png)

[2017-01-13 10:16] tanay1337 commented on #159
I just got the chance to review PushBullet and test and I would admit that it is a great idea to implement this. Once the PR passes all tests, we would definitely merge it @GPhantom. Kudos!

[2017-01-13 19:50] GPhantom commented on #159
Thank you so much @tanay1337, glad to hear that :)

[2017-01-17 15:43] chazzmac opened #161 "Start command"
nowhere in the install instructions can i find how to start melissa...what is the command? Ubuntu 16.04

[2017-01-17 15:46] tanay1337 commented on #161
Did you try `python main.py`? Also, please direct usage questions [here](https://groups.google.com/forum/#!forum/melissa-support--discussion-forum/). Thanks :)

[2017-01-17 15:46] #161 closed

[2017-01-19 05:07] tanay1337 commented on #114
I see your name [here](https://devdiner.com/artificial-intelligence/building-open-source-jarvis-virtual-assistant) @rachmadaniHaryono.

[2017-01-19 14:53] tanay1337 commented on #156
Any luck @asleniovas?

[2017-01-19 15:11] asleniovas commented on #156
@tanay1337, @rachmadaniHaryono   Hello, no luck unfortunately... I don't understand what exactly I should be installing, is it "wheel" or something else?

[2017-01-23 23:14] GPhantom opened #162 "Welcome Notification"
Send the user a welcome notification after generating the profile. The notification can include information about the user's profile or any other information. It can also be some kind of test as the user enters the pushbullet token, a welcome notification is received instantly.

What do you think? @tanay1337 @rachmadaniHaryono

[2017-02-01 05:37] tanay1337 commented on #162
I don't think it would be a great idea to do this. Unnecessary notifications are often irritating.

[2017-02-01 05:37] #162 closed

[2017-02-01 05:38] tanay1337 commented on #159
Fixed here: https://github.com/Melissa-AI/Melissa-Core/pull/160. Thank you @GPhantom for your wonderful contribution to Melissa and welcome to the team.

[2017-02-01 05:38] #159 closed

[2017-02-01 12:36] tanay1337 commented on #156
Seems like `six` is not being installed in your system.  Can you try installing it separately using `sudo pip install six`? @asleniovas

[2017-04-12 08:58] gergelypolonkai opened #163 "No module named pywapi"
I just installed Melissa-Core and tried to start it, but all I got was a backtrace:

[code]

Installing the `pywapi` module is not *that* straightforward, as it doesn’t exist on PyPI. It is also deprecated(ish), as the last change in it was back in 2013.

[2017-04-17 15:30] tanay1337 commented on #163
Well, I agree that it is a good idea to replace Pywapi with some other python package. Any thoughts guys @gergelypolonkai @rachmadaniHaryono?

[2017-04-18 08:04] gergelypolonkai commented on #163
How about [OpenWeatherMap](https://github.com/csparpa/pyowm)?

[2017-04-18 09:57] rachmadaniHaryono commented on #163
not quite sure what is the qualification for replacing pywapi.

- we can fork the pywapi, but it add technical debt
- i have seen pyowm but it require api key, anything without it is better
- from pypi the first result for `weather` is https://github.com/cmcginty/PyWeather from @cmcginty, but i haven't tested yet.

[2017-04-18 21:05] cmcginty commented on #163
PyWeather is for reading data from a hardware weather station (eg. Davis Vantage pro II)

[2017-05-03 07:36] tanay1337 commented on #163
I agree that `pywapi` was a good solution and I really liked the search implementation that one of our contributors added. Even though it adds technical debt, I still feel that forking it "might" be a good idea. I don't want to add more modules that require APIs, if the work can be accomplished without it. @gergelypolonkai @rachmadaniHaryono

[2017-05-03 07:37] tanay1337 commented on #11
https://github.com/Melissa-AI/Melisandre would be merged into this repository soon!

[2017-05-03 07:37] #11 closed

[2017-05-03 07:38] tanay1337 commented on #114
Any updates on this @lakshmanaram ?

[2017-05-03 07:39] tanay1337 commented on #156
Are you still having problems with installation @asleniovas ?

[2017-05-03 07:39] #156 closed

[2017-05-03 08:05] tanay1337 opened #164 "[All Hands on Deck] A complete rehaul, project is active again!"
Hello Lovely People,

After a long break in the development of Melissa and related projects, I am back again. For a while, I was working on Melisandre, the UI for Melissa. Take a peep at what it looks like now: https://youtu.be/r1yoaq3BcUA

I have a long list of things that we can and should do, including integration of Melissa with Melissa-Core, removing some useless features as well as putting i

[2017-05-03 08:21] tanay1337 commented on #164
Ping @rachmadaniHaryono @neilnelson @aniketk21 @lakshmanaram @anurag-ks @GPhantom @Ayrx @TheMadCoder1 @yrahul3910 @vedmathai @aniketmaithani @danielkoster

[2017-05-03 08:26] aniketmaithani commented on #164
aye aye captain....

[2017-05-03 08:56] gergelypolonkai commented on #163
Well, its API is pretty good and doesn’t feel outdated. So yes, forking it might be a good option, but that means the one who forks it should also maintain it on PyPI and such (also, it should be added to `requirements.txt`

[2017-05-03 09:56] tanay1337 opened #165 "Integrate with Melisandre, remove integration of STTs"
Let's integrate Melisandre and Melissa. It might be a good idea to remove the integration of STTs like Google and PocketSphinx and just use the Google Chrome STT instead as a primary option. This would remove a hell lot of dependencies and make the installation process easier.

What would be the best process to go about this task? What workflow would you guys recommend? Does it make sense to keep

[2017-05-03 09:58] tanay1337 commented on #164
Here's the first issue that needs some discussion: https://github.com/Melissa-AI/Melissa-Core/issues/165

[2017-05-22 06:33] chvraj opened #167 "pyvona.py error"
requests.packages.urllib3.disable_warnings()
AttributeError: 'module' object has no attribute 'packages'

[2017-06-01 13:17] bruno-sartori opened #168 "subprocess.call(['mpg123', 'data/snowboy_resources/ding.wav']) OS Error: No such file or directory"
I am getting this error:
File "start.py", line 30, in <module>
    main()
  File "start.py", line 20, in main
    subprocess.call(['mpg123', 'data/snowboy_resources/ding.wav'])
  File "/usr/lib/python2.7/subprocess.py", line 523, in call
    return Popen(*popenargs, **kwargs).wait()
  File "/usr/lib/python2.7/subprocess.py", line 711, in __init__
    errread, errwrite)
  File "/usr/lib/python2.7/s

[2017-06-05 13:18] shsunil opened #170 "CAN IT BE USED IN CORDOVA APP WITHOUT INTERNET"
Hi,
Can this be used in cordova app and does it works offline.. I am building a conversational interface for cordova android app that works offline..
Thanks.

[2017-06-15 06:30] tanay1337 commented on #170
For offline STT, you'd need something like PocketSphinx but it would be a tradeoff between accuracy and offline working. Although, we do have PocketSphinx support, it might not be included in the future.  You would need to hack the repo to make it run in Cordova (depending on the architecture that you have in mind).

Note: If you are interested in discussing this idea with other contributors of Me

[2017-06-15 06:30] #170 closed

[2017-06-15 06:36] #168 closed

[2017-06-15 06:37] tanay1337 commented on #167
Can you give us the whole traceback @chvraj? Thanks!

[2017-06-15 06:38] tanay1337 commented on #163
Anyone interested in picking this up before we get started with https://github.com/Melissa-AI/Melissa-Core/issues/165?

[2017-06-15 06:40] tanay1337 commented on #164
The following issues need some love:

1. https://github.com/Melissa-AI/Melissa-Core/issues/165
2. https://github.com/Melissa-AI/Melissa-Core/issues/163
3. https://github.com/Melissa-AI/Melissa-Core/issues/114

cc: @aniketmaithani @rachmadaniHaryono

[2017-06-15 06:40] #164 closed

[2017-06-15 06:46] rachmadaniHaryono commented on #114
@tanay1337 is this issue still continued, with #165 there will also be complete overhaul of the package.

i don't know how much @lakshmanaram have done, but if possible maybe directly change the structure package with the new integration branch on 165?

[2017-06-15 06:48] tanay1337 commented on #114
That's actually a good idea, @rachmadaniHaryono. Would you like to help me with it? Currently, I am planning to work on this: https://github.com/Melissa-AI/Melissa-Core/pull/144 and as soon as I am done, I will join you with https://github.com/Melissa-AI/Melissa-Core/issues/165.

[2017-06-15 06:59] rachmadaniHaryono commented on #165
i have seen several  project (buku, hydrus, and beet) which actually have merged both cli and their web interface and they implement their own plugin system or integration.

there is also [simple api](https://github.com/flosch/simpleapi) which can give example for server and client model. (unfortunately this is not active anymore)

for stt we can use existing plugin frame work such as [yapsy](http

[2017-06-15 07:26] tanay1337 commented on #165
Sounds good, I think it might be good to merge the CLI and UI of these together and later on add Yapsy for adding new plugins for STTs and TTSs. Would also make sense to remove the Melisandre Repository after that @rachmadaniHaryono.

[2017-06-16 07:34] tanay1337 opened #171 "Notifications module is getting skipped"
@d3db0t, the notifications module is getting skipped because of the absence of the WORDS constant on runtime. It's location needs to be changed to `melissa/` from `melissa/actions`. Thanks!

[2017-06-16 23:50] Iron-Eagle opened #172 "Error in Subprocess"
C:\practice\Melissa>python start.py
Loading profile data
Traceback (most recent call last):
  File "start.py", line 6, in <module>
    from melissa.tts import tts
  File "C:\practice\Melissa\melissa\tts.py", line 7, in <module>
    import profile
  File "C:\practice\Melissa\melissa\profile.py", line 8, in <module>
    data = load_profile()
  File "C:\practice\Melissa\melissa\profile_loader.py", li

[2017-06-17 04:39] tanay1337 commented on #172
Have you installed espeak @Iron-Eagle?

[2017-06-17 07:33] #165 closed

[2017-06-17 07:44] #172 closed

[2017-06-17 08:57] tanay1337 commented on #163
To be honest, I don't wanna maintain it on PyPI, the best solution that I can think of currently, is to include `pywapi.py` in `melissa/utilities` and make the respective changes in `weather.py`. Thoughts @gergelypolonkai @rachmadaniHaryono?

[2017-06-17 10:33] gergelypolonkai commented on #163
I agree, if:

* if it's only one file
* the maintenance cost is low (pywapi changes will be scarce)
* no one actually plans to pick it up

If so, the best option may be to put it into the project.

[2017-06-17 11:03] gergelypolonkai commented on #163
Just took a deeper look, and I managed to install it with

    pip install -e git+https://github.com/jtasker/python-weather-api@cf79f478c26dd244e0c90e10d6df91bb4ea8cd5e#egg=pywapi

It works both with Python2 and Python3. This line doesn’t look *that* good in a requirements file, but might be better than maintaining it.

[2017-06-17 12:33] tanay1337 commented on #163
I see @gergelypolonkai. Thanks a lot for the insights. Since it's just a single file, I feel that it shouldn't be a big deal to maintain. How does the installation for the current version work for you?

Final thoughts on https://github.com/Melissa-AI/Melissa-Core/pull/173 @rachmadaniHaryono?

[2017-06-17 12:38] rachmadaniHaryono commented on #163
after @gergelypolonkai give the github link, imo it is better to replace the pypi's pywapi with github link.

if anyone want to pickup the module, the change will not in our repo but @jtasker 's python-weather-api

also it is easier to replace the link on requirements file (rather than include the file and deal with the future of the module)

it is normal if a module only have github link and have

[2017-06-17 12:41] tanay1337 commented on #163
Fair enough, @rachmadaniHaryono. Would you like to put in a PR for this?

[2017-06-17 12:42] rachmadaniHaryono commented on #163
ok in a moment.

[2017-06-17 13:48] #163 closed

[2017-06-22 05:06] tanay1337 opened #176 "Return written output from action modules"
The action modules should also return text feedback to our user interface (emitted via the web sockets) along with voice feedback, wherever relevant. A few examples being, Weather module, System status, Horoscope module, etc.

[2017-06-22 05:13] tanay1337 opened #177 "Replace PushBullet with Web Push Notifications"
It makes sense to remove the PushBullet notification system as web push notifications make more sense now as we now have a web UI, they can be configured by just `notifications: 'on' / 'off'` in `profile.json` and we don't really have the requirement for cross device notifications at this point.

[2017-06-22 05:13] tanay1337 commented on #171
This issue would be solved by https://github.com/Melissa-AI/Melissa-Core/issues/177.

[2017-06-22 05:13] #171 closed

[2017-06-22 06:18] tanay1337 commented on #167
Closing this issue, please feel free to reopen it if the problem persists.

[2017-06-22 06:18] #167 closed

[2017-06-30 18:18] Erick2206 commented on #176
@tanay1337 Can you elaborate on how to accomplish this?

[2017-07-01 08:46] anurag-ks opened #178 "Enhancements using Algorithmia *Suggestion*"
Could we use the Algorithmia's API "https://algorithmia.com/" for new features like sentiment analysis etc.

[2017-07-01 08:49] anurag-ks commented on #114
Why not use setup tools ?

[2017-07-01 09:34] tanay1337 commented on #178
We usually avoid using services that require the users to obtain an API key during the basic runtime of the program.

[2017-07-01 09:37] tanay1337 commented on #176
That would basically involve changes in the action modules, maybe a separate standard function. Also some corresponding changes in the `brain.py` file. Some changes in the `main.py` file as well. These would then have to be emitted to the front end using websockets. Thoughts @rachmadaniHaryono?

[2017-07-01 11:19] rachmadaniHaryono commented on #176
From what I in understand,  if possible every action module will return text instead calling tts function to give the results.

I don't remember all of the action module, but all those action module mentioned in first post only return an output (and Returned through tts func) .

This will not apply to any action module which requires interaction.

This issue should be done by

- refactor actions m

[2017-07-01 18:09] Borisbudini opened #179 "Melissa installer scripts"
Hey guys!
I was talking with Tanay today and he introduced with Melissa.
First off: Great job guys (and girls)🎈
I was thinking of writing some installer scripts for various platforms (mostly Linux)
Another thing I propose is a script that combines MagicMirror² with Melissa
YET another thing we can do that I think would be cool is prebuild Raspberry Pi images that anyone can flash and be ready to g

[2017-07-13 16:01] tanay1337 commented on #179
Thanks for your kind words @Borisbudini! Those two sound like some pretty cool ideas there.

[2017-07-24 11:51] absentdream opened #180 "static files wrong url"
ok so i start

[2017-08-05 00:44] SLaVey1 opened #181 "Ideas for the future."
I was thinking of a few things I would eventually like to do with this platform.
(1) Send texts. Im going to do some research and see if I can find a way to pair Melissa with my phone to send texts to people in my contact lists. I also plan to do a similar thing to answer and place phonecalls.
(2) I'd love to have a module that specifies in more advanced image recognition - although I know that wi

[2017-08-17 17:51] tanay1337 commented on #180
Nice catch @absentdream. Thanks!

[2017-08-17 18:53] tanay1337 commented on #181
@SLaVey1 Interesting ideas! Looking forward to your pull requests :D

[2017-08-17 19:11] SLaVey1 commented on #181
Yeah I have been busy. I made an sms sender with python a few weeks ago (uses sms gateways), as well as a python code that can search the internet or Wikipedia. If i give you my scripts do you think you could do anything with them? If yes I will post them here.

[2017-08-18 16:58] IceWreck commented on #181
We can add text support via TextMagic. However, I don't think it's worth trying to integrate text from someone's own phone number. We can easily add  email support though.

[2017-08-18 17:03] IceWreck commented on #181
@SLaVey1 @tanay1337 And we should use the Wolfram Alpha API to add  mathematical functionality. I used it in a project last year and it's both simple and functional.

[2017-08-25 16:12] SLaVey1 commented on #181
That would be cool - can you integrate it into Melissa?

[2017-09-20 05:31] bhaveshAn opened #182 "Target: Installing Melissa via pip"
Cannot able to install Melissa using
`sudo python setup.py install`
Would like to work on this issue to install it by the above mentioned command and the ultimate goal will be achieved to install it via pip as
`pip install melissa`

[2017-09-25 11:29] bhaveshAn commented on #179
Hi @Borisbudini

May I know the progress !

[2017-10-01 05:44] ccbndh commented on #180
@absentdream it's work fine with:
FLASK_APP=melissa/main.py flask run --host=localhost --port=5000

[2017-10-01 05:44] ccbndh commented on #180
@absentdream it's work fine with command:
FLASK_APP=melissa/main.py flask run --host=localhost --port=5000

[2017-10-01 18:31] bhaveshAn commented on #179
@Borisbudini If you are not working on it, currently, then I would like to work on this issue.
What say @tanay1337

[2017-10-01 18:43] Borisbudini commented on #179
Please feel free to do this. My agenda got way too complicated all of a sudden.On Oct 1, 2017 20:31, Bhavesh Anand <notifications@github.com> wrote:@Borisbudini If you are not working on it, currently, then I would like to work on this issue.
What say @tanay1337

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-10 05:50] bhaveshAn opened #185 "Add Docker container for Melissa"
Want to containerize Melissa with Docker.

[2017-10-16 14:52] omaciel commented on #182
Taking it

[2017-10-16 15:18] omaciel commented on #182
@bhaveshAn sent you a PR for this issue.

[2017-10-23 12:02] bhaveshAn commented on #182
hey @omaciel

Please let me know where have you sent PR to me ?

[2017-10-24 13:32] omaciel commented on #182
@bhaveshAn https://github.com/Melissa-AI/Melissa-Core/pull/186

[2017-11-12 20:01] bhaveshAn commented on #182
@omaciel Please send the PR at the branch `pip-packaging`
`bhaveshAn:pip-packaging`

[2017-11-13 14:42] #185 closed

[2017-11-13 14:43] tanay1337 commented on #180
@bhaveshAn Would you like to take this?

[2017-11-13 16:11] bhaveshAn commented on #180
@tanay1337 Sure !!

[2017-11-13 16:25] bhaveshAn commented on #114
@tanay1337 @lakshmanaram @rachmadaniHaryono
What I can perceive (from this issue) is that we have to add an `install.sh` to install the dependencies. Right ?

[2017-11-13 16:32] bhaveshAn opened #187 "Add ISSUE_TEMPLATE and PULL_REQUEST_TEMPLATE"
Would like to work on Adding ISSUE_TEMPLATE and PULL_REQUEST_TEMPLATE

[2017-11-14 00:33] rachmadaniHaryono commented on #114
not anymore since #175, it should be installed with `pip install .`

[2017-11-14 08:23] tanay1337 commented on #114
That's right @rachmadaniHaryono

[2017-11-14 08:25] tanay1337 commented on #187
Please add this to the wiki and not to the repository.

[2017-11-14 08:25] #187 closed

[2017-11-14 08:25] #114 closed

[2017-11-14 08:40] bhaveshAn commented on #182
@tanay1337 Can you please provide the logs for this bug.

[2017-11-14 08:55] tanay1337 commented on #182
I don't think this issue is complete as of now. Does `pip install melissa` work for you guys?

[2017-11-14 09:14] bhaveshAn commented on #182
For now at my system:
$`sudo pip install melissa` gives
[code]

I think it can only be checked after uploading to pypi

As of now not at PyPi https://pypi.python.org/pypi?%3Aaction=search&term=melissa&submit=search

[2017-11-14 09:19] tanay1337 commented on #182
Of course, would you like to take ownership of that?

[2017-11-14 09:20] bhaveshAn commented on #182
Yeah Sure !!

[2017-11-14 09:36] bhaveshAn commented on #182
Can I use my name as author at https://github.com/Melissa-AI/Melissa-Core/blob/master/setup.py#LC20 for uploading to PyPi

[2017-11-14 10:35] bhaveshAn commented on #182
Please check https://pypi.python.org/pypi?name=melissa&version=0.0.1&:action=display

[2017-11-14 10:55] tanay1337 commented on #182
I will run some manual tests in the evening on this and give feedback after that. Thanks, great work @bhaveshAn!

[2017-11-14 13:48] tanay1337 commented on #182
@bhaveshAn I get the following Traceback:

[code]

[2017-11-14 15:25] tanay1337 commented on #182
@bhaveshAn https://stackoverflow.com/questions/12518499/pip-ignores-dependency-links-in-setup-py

[2017-11-17 20:26] bhaveshAn commented on #182
@tanay1337 I am able to run it using `sudo python -m melissa` but pywapi issue is still there.

[2017-11-17 21:19] tanay1337 commented on #182
Using sudo gives me (even though I actually have pywapi installed):

[code]

[2017-11-18 00:48] bhaveshAn commented on #182
Using sudo

I mean my code which is not pushed as of now.

On Nov 18, 2017 2:49 AM, "Tanay Pant" <notifications@github.com> wrote:

[2017-11-18 10:32] bhaveshAn commented on #182
Now try with `sudo pip install melissa==1000.0.24`
and `sudo python -m melissa`

Working fine for me just pywapi has to be manually installed.

[2017-11-21 10:41] tanay1337 commented on #182
@bhaveshAn I suggested a way to not to make the users install pywapi manually above, did you try it? Also, users should not have to use sudo to run the program.

[2017-11-22 21:16] bhaveshAn commented on #182
@tanay1337

The resource says to specify a version on dependency_links. Tried but when you will visit https://github.com/jtasker/python-weather-api you will find no versions under releases. Also, pywapi==0.3.8 installing from pip comes with
[code]

Suddenly realized Melissa working without `sudo` as well. :sweat_smile:

[2017-11-23 10:25] tanay1337 commented on #182
@bhaveshAn Right that works, however, I still see some bugs with the loading of some of the resource files on the web interface. Also, we should find a turn around for making the whole thing happen via just `pip install melissa`. It's not good to have to issue another pip install for making this happen. I will have another go at this, this weekend.

[2017-11-26 16:25] hmschreiner opened #189 "OSError: Operation not permitted"
I'm trying to install the requirements using the command `pip install -r requirements.txt` on MacOS X El Capitan but I'm getting the following error:

[code]

Any ideas on how to fix this issue?

[2017-11-26 23:41] rachmadaniHaryono commented on #189
try `--user` flag

[code]

[2017-11-27 16:05] hmschreiner commented on #189
It worked along with `--ignore-installed`. Thanks!

[2017-11-27 16:05] #189 closed

[2017-12-02 10:33] tanay1337 opened #192 "Fix rendering of README on PyPI"
We have to fix the rendering of README on PyPI: https://pypi.python.org/pypi/melissa/1000.0.34. Also, the spelling of 'License' is wrong, just noticed today.

[2017-12-02 19:54] bhaveshAn commented on #192
@tanay1337

Its because we misspelled `License` as `Licence` at `README.rst` and acc to `setup.py` the description of melissa at PyPi is using `README.rst`

Should I restructure the README or do as these packages has done https://pypi.python.org/pypi/scikit-visualizations and https://pypi.python.org/pypi/char-cnn

[2017-12-03 07:46] tanay1337 commented on #192
It would be nice to include some information on the package's page. Maybe restructuring the README so that it can be properly parsed would be the correct way to go.

[2017-12-06 08:16] bhaveshAn commented on #192
@tanay1337
Please check the entries in README at https://github.com/bhaveshAn/Melissa-Core/tree/readme

[2018-02-09 19:22] 8StGrove opened #193 "Installing flac on OSX issue"
Hi,

When trying to install flac and running the command
$ cp data/memory.db.default data/memory.db
and
$ brew install flac
$ FLASK_APP=melissa/__main__.py flask run
on mac OS X High Sierra the Terminal states 'No such file or direcotry', am I able to get some help with this, the previous commands all worked on terminal.
Many thanks,

[2018-02-26 09:27] bhaveshAn commented on #21
I wanna work on this issue.

[2018-02-26 14:08] bhaveshAn commented on #192
@tanay1337 Could you please check README at https://github.com/bhaveshAn/Melissa-Core/tree/readme

[2018-02-26 14:09] bhaveshAn commented on #193
Can you share the complete logs or screenshot

[2018-02-26 14:10] bhaveshAn commented on #178
Is this issue active or ready to close.

[2018-02-28 08:47] tanay1337 commented on #192
Hi @bhaveshAn, the repository will undergo a complete overhaul. I would be posting issues about it soon. Feel free to pick those up, stay tuned till then.

[2018-02-28 08:49] tanay1337 commented on #21
Please go ahead @bhaveshAn. Do focus on the core aspect and the functionality first and then implementation as the repository is going to undergo a complete overhaul.

[2018-02-28 08:51] tanay1337 opened #194 "Refactoring to Python 3 and Object Oriented Design"
The codebase needs to be updated to Python 3 along with the implementation of Object Oriented Design.

[2018-02-28 08:59] tanay1337 opened #195 "Introduction of Plugin Architecture"
Implementation of plugin architecture for Melissa.

[2018-02-28 09:00] tanay1337 commented on #21
@bhaveshAn You can work under @emedvedev's guidance for this.

[2018-03-10 11:38] bhaveshAn commented on #194
@emedvedev For the Object Oriented Design part.
Could you please discuss the approach you will work for this because I have some other alternative here.
https://github.com/kivy/plyer in this project first some facade/example is made having classname and methods
ex. `class TTS` and method `def speak(self)` which initially set to `NotImplementedError` to implement feature concerning it. And then we

[2018-03-10 15:29] emedvedev commented on #194
@bhaveshAn sounds good to me. Here's what you can do:

* Add an empty TTS class.
* Create a structure as you have proposed, i.e. `tts/<engine>/main.py` (I would prefer `main.py` to `tts.py` for readability: if there's many files, `main` is a much clearer entry point).
* Use a dynamic import with [`import_module`](https://docs.python.org/3.1/library/importlib.html#importlib.import_module) to load t

[2018-03-10 16:17] bhaveshAn commented on #194
@emedvedev

From engine do you mean `espeak` / `say`
Like to create `tts/espeak/main.py` and `tts/say/main.py`
Or please elaborate if I am getting wrong.

[2018-03-10 16:18] emedvedev commented on #194
Yes, you're getting it right. :)

[2018-03-12 20:19] bhaveshAn commented on #194
@emedvedev
I have to make a PR in WIP.
Since there is huge change in codebase, so will it be good to make a new branch in upstream say `py3` so that it may not affect current codebase which is on `py2`

What say.

[2018-03-12 20:20] emedvedev commented on #194
Yup, a new branch sounds nice.

On March 12, 2018 at 21:20:01, Bhavesh Anand (notifications@github.com)
wrote:

@emedvedev <https://github.com/emedvedev>
I have to make a PR in WIP.
Since there is huge change in codebase, so will it be good to make a new
branch in upstream say py3 so that it may not affect current codebase which
is on py2

What say.

—
You are receiving this because you were menti

[2018-03-12 20:24] bhaveshAn commented on #194
Could you make one?

[2018-03-12 20:52] emedvedev commented on #194
Done, you can make PRs against the `py3` branch now.

On March 12, 2018 at 21:24:09, Bhavesh Anand (notifications@github.com)
wrote:

Could you make one?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Melissa-AI/Melissa-Core/issues/194#issuecomment-372450132>,
or mute the thread
<https://github.com/notifications/unsubscribe

[2018-03-14 01:27] idanwekhai commented on #194
I would like to work on this

[2018-03-14 02:23] emedvedev commented on #194
Bhavesh is running point on this one, and you're more than welcome to
coordinate with him and see if you can somehow split the task.

On March 14, 2018 at 02:27:26, kelvin paschal (notifications@github.com)
wrote:

I would like to work on this

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Melissa-AI/Melissa-Core/issues/194

[2018-03-14 09:28] tanay1337 opened #197 "Addition of headless STT"
**Expected behavior:**
Addition of headless STT along with Google Chrome, feel free to start the discussion on which STT should be added. Some ideas include `stt-watson` and `SpeechRecognition`.

[2018-03-14 09:46] tanay1337 opened #198 "Addition of Telegram as STT"
**Expected behavior:**
Addition of Telegram as a 'STT' so that commands can be sent via a Telegram Bot. Please refer to the previous version of the codebase where it was implemented once.

[2018-03-14 10:34] tanay1337 opened #199 "Proposals for new web UI for Melissa"
**Current behavior:**
The current web UI for Melissa is not quite suitable because of the long startup time of the animations. We need ideas for a new UI, which will then be implemented in ReactJS.

**Expected behavior:**
A cleaner and more optimised UI for Melissa which has low startup time and yet a futuristic feel. Please note that the UI display should also be compatible with Magic Mirror or s

[2018-03-14 10:37] tanay1337 commented on #178
Closing this because @emedvedev would be working on a similar solution using Watson. Thanks for the idea @anurag-ks :)

[2018-03-14 10:37] #178 closed

[2018-03-14 10:39] tanay1337 commented on #181
Closing this because this does not match our roadmap and we don't have the bandwidth to work on it. Ideas 2 and 3 do sound cool and it might make sense to attempt such a solution in the future. Thanks for your ideas @SLaVey1.

[2018-03-14 10:39] #181 closed

[2018-03-14 11:38] bhaveshAn commented on #197
Here are some of the small implementations https://pythonprogramminglanguage.com/text-to-speech/

Which one should be opted @emedvedev . Any suggestions ?

[2018-03-14 11:49] emedvedev commented on #197
No preference, just add a few of your choice that you can reasonably test and confirm.

On Mar 14, 2018, 12:38 +0100, Bhavesh Anand <notifications@github.com>, wrote:

[2018-03-14 13:24] tanay1337 commented on #193
@8StGrove Does this issue still persist?

[2018-03-14 13:26] tanay1337 commented on #179
Closing this for now as pip installation should be sufficient for our current needs.

[2018-03-14 13:26] #179 closed

[2018-03-14 18:16] bhaveshAn commented on #197
I think `STT-Watson` has a necessary condition to specify `watson_user` and `watson_password` as https://github.com/ArthurHlt/stt-watson/blob/master/README.md
So have to leave the idea of it.

[2018-03-14 21:47] bhaveshAn commented on #194
@emedvedev
For OOD, we have made objects for tts as
**config.py**
`tts_engine = SayTTS()` or `tts_engine = EspeakTTS()` # depending on platform

Earlier, we are using `WORDS` const
Example:  `WORDS = {'news_reader': {'groups': [['business', 'news']]}}` for business_news_reader module.
But for actions it would better to switch to NLP instead of `WORDS` const as mentioned earlier.

Like,
[code]
 **e

[2018-03-14 21:50] emedvedev commented on #194
Please open a PR for every separate feature, and once there's code, I'll be
happy to comment on it.

NLP is definitely outside of the scope of this issue though. We are
refactoring the existing code first, so let's stick to that.

On March 14, 2018 at 22:47:54, Bhavesh Anand (notifications@github.com)
wrote:

@emedvedev <https://github.com/emedvedev>
For OOD, we have made objects for tts as
*confi

[2018-03-21 04:23] daniellehealy commented on #193
I am having this issue as well

[2018-03-21 04:23] daniellehealy commented on #193
DEPRECATION: Uninstalling a distutils installed project (six) has been deprecated and will be removed in a future version. This is due to the fact that uninstalling a distutils project will only partially uninstall the project.
    Uninstalling six-1.4.1:
Exception:
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/pip-9.0.2-py2.7.egg/pip/basecommand.py", line 215, in ma

[2018-05-29 02:54] barkingbandicoot opened #202 "pip install -r requirements.txt Could not install packages"
**I'm submitting a ...**
- [ ] bug report for installing Melissa in KDE Neon LTS

**Current behavior:**
pip install -r requirements.txt

**Screenshots of the issue:**

docker-py 1.9.0 has requirement backports.ssl_match_hostname>=3.5, but you'll have backports-ssl-match-hostname 3.4.0.2 which is incompatible.
Installing collected packages: wheel, oauthlib, requests, requests-oauthlib, enum-compat,

[2018-06-02 09:15] bhaveshAn commented on #202
@barkingbandicoot May be you want to install dependencies system wide but not using sudo

This thing can be solved if you install and run melissa in virtual environment.

[2018-06-02 09:19] bhaveshAn commented on #176
Feature of getting Speech and text responses simultaneously will be solved by #196
https://github.com/bhaveshAn/Melissa-Core/tree/ood-patch/melissa/actions

[2018-06-16 05:54] Rutwikg04 opened #203 "Addition of an Online Music Module for Melissa"
I thought it would be a great idea to have an Online Music module like Spotify API.

[2018-10-01 21:58] KyleRConway commented on #177
@tanay1337 -- Can I tackle this issue? May need some assistance, but I'd love to tackle this.

[2018-10-02 10:13] tanay1337 commented on #177
@KyleRConway Sounds good, this is all yours.

[2018-10-09 09:35] #202 closed

[2018-10-11 15:19] oscartre opened #209 "command python setup.py egg_info failed with error code 1 in /tmp/pip-build-_FE79/pygame"
**I'm submitting a:**
Bug report

When running "pip install -r requirements.txt" in the "Melissa-Core" directory, I get error "command pything setup.py egg_info failed with error code 1 in /tmp/pip-build-_FE79/pygame"

Should be able to move onto "cp data/memory.db.default data/memory.db" but when i do, i get "cp: cannot stat 'data/memory.db.default': No such file or directory" instead.

[2018-10-30 20:48] KyleRConway commented on #177
@tanay1337 -- I've been reading through and believe I understand what needs to come out. I was having trouble installing on Fedora, so I worked on setting up in Ubuntu. I have the application running, but voice commands aren't working. Just want to make sure I have a working version going so I know if I've broken something.

Is my profile.json lacking needed credentials? I've given the browser acc

[2018-10-31 12:18] tanay1337 commented on #177
@KyleRConway Many thanks for tackling this. Are you opening the web UI in Chrome?

[2018-11-02 20:18] KyleRConway commented on #177
@tanay1337 Update -- it turns out this works fine on Chrome, but not Chromium or Firefox (which I was using previously). Is Chrome required?

Thanks!

[2018-11-05 08:57] tanay1337 commented on #177
@KyleRConway Yeah, Chrome is required as we are using Chrome's WebSpeech API and it doesn't work that well on other browsers yet.

[2019-03-26 23:22] Ismail8Ahmed opened #212 "How To Run This Software"
**I'm submitting a:**
- [ ] Bug report
- [ ] Feature request
- [X] Help

[2019-04-01 07:32] tanay1337 commented on #212
Hi there, please check the [wiki](https://github.com/Melissa-AI/Melissa-Core/wiki).

Best,
Tanay

[2019-04-01 07:32] #212 closed, assigned to nobody

[2019-05-27 22:51] khahmed94 opened #213 "ImportError: cannot import name 'json_decode' from 'utilities'"
Khalids-MacBook-Air:Melissa-Core khahmed$ FLASK_APP=melissa/__main__.py flask run
 * Serving Flask-SocketIO app "melissa.__main__"
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/bin/flask", line 10, in <module>
    sys.exit(main())
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/flask/cli.py", line 513, in main

[2019-09-24 16:20] anantvir commented on #194
Can I work on this if its still pending ?

[2020-03-02 05:25] httpproxx commented on #23
is there a way to just get the say something in the terminal? I have the GUI Loaded but id rather have it listening for commands without having to click. Ive also fixed the snowboy hotword detect. It wasnt working when i downloaded it. Thanks!

[2020-03-02 20:45] httpproxx opened #216 "Web UI Issue? Or fix"
**I'm submitting a:**
- [ ?] Bug report
- [? ] Feature request

How could i get this onclick to be listening the whole time That way i dont need to click

             <div id="imgGalCont" onclick="speechHandler()">

            <div id="imgGalIn">

            </div>
			<div id="imgGalMid">

            </div>
            <div id="imgGalOut"></div>

        </div>
        <div class="footerImg">

[2020-04-14 09:11] MikeyBeez opened #219 "Building in a virtual environment."
**I'm submitting a:**
- [ ] Feature request for the documentation

Hi.  Thanks for sharing this interesting code.  I want to build this, and the installation instructions don't include using a virtual environment, specifically which python to use.  I've been going through issue to find this out.  What version of python should I use, and what branch of the code is recommended?  BTW, I usually creat

[2020-04-14 17:53] robert478 opened #220 "Words module not loading"
Hello , I just installed Melissa-Core on Ubuntu 19.10 and during the terminal run of
FLASK_APP=melissa/__main__.py flask run everything loads except the Words Module. I get a msg saying :  WARNING: Module will not be used.
    WORDS not found for module notification.
Is this ok? In the browser http://127.0.0.1:5000/ it will unlock but nothing happens it will beep but no words when spoken too or ac

[2020-04-19 06:01] MikeyBeez commented on #219
Nevermind. Travis.yaml has python 2.7 listed.

[2020-04-19 06:01] #219 closed, assigned to nobody

[2020-04-23 20:36] #21 closed

[2020-04-23 20:38] #176 closed

[2020-04-23 20:39] #177 closed

[2020-04-23 20:40] #182 closed

[2020-04-23 20:40] #194 closed

[2020-04-23 20:40] #197 closed

[2020-04-23 20:40] #198 closed

[2020-04-23 20:40] #199 closed

[2020-04-23 20:40] #203 closed

[2020-04-23 20:41] #195 closed